---
layout: default
type: medium
header: true
order: 3

title: בלוג
---

{% assign pages=site.pages | sort: "date" | reverse %}{%
for post in pages %}{%
    if post.layout == "post" %}{%
        capture image %}{%
            include get-image.html
            url = post.url
            date = post.date
            image = post.image %}{%
        endcapture %}{%
        assign image = image | strip_newlines %}
<blockquote class=box>
    <a class=absolute href={{ post.url | prepend: site.baseurl }} tabindex=0></a>{% if image %}
    <figure{% if post.imageClass %} class="{{ post.imageClass }}"{% endif %}>
        <img src={{ site.assets }}{{ image }}{% if post.imageWidth %} width={{ post.imageWidth }}{% endif %} alt="{{ post.title }}">
    </figure>{% endif %}
    <h2 class=wrapline>{{ post.title }}</h2>
    <p>{{ post.content | markdownify | strip_html | truncatewords: 50, '... <a>המשך קריא</a>' }}</p>
    <div>{% include date.html value = post.date %}</div>
</blockquote>{%
    endif %}{%
endfor %}
