---
layout: default
className: grid
header: true
order: 3

title: בלוג
---

{% assign pages=site.pages | sort: "date" | reverse %}{%
for post in pages %}{%
    if post.layout == "post" %}{%
        capture image %}{%
            include get-image.html
            url = post.url
            date = post.date %}{%
        endcapture %}{%
        assign image = image | strip_newlines %}
<blockquote class=box>{% if image %}
    <figure>
        <img src={{ site.assets }}{{ image }}{% if post.image.width %} width={{ post.image.width }}{% endif %} alt="{{ post.title }}">
    </figure>{% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content | markdownify | strip_html | truncatewords: 50, '...' }}</p>
    <div class=footer>{% include date.html value = post.date %}</div>
    <a class=more href={{ post.url | prepend: site.baseurl }}>המשך קריא</a>
    <a class=absolute href={{ post.url | prepend: site.baseurl }} tabindex=0></a>
</blockquote>{%
    endif %}{%
endfor %}
