---
layout: video
category: products
redirect_from: /digital-workshop
permalink: /workshop-digital-offline
title: סדנה מוקלטת
private: true
className: no-padding
order: 3
script:
    - ui-discount.min.js
---

<div class="box card" dir=ltr>
    {% include youtube.html id="PzXexQAosdU" %}
    <div class=content dir=rtl>
        <h1>{{ page.title }}</h1>
        <ul class=sheet>
            <li class=row>
                <div class="column label">אורך</div>
                <div class=column>כשעה, מחולק ל4 סרטוני הדרכה, כל אחד עד רבע שעה</div>
            </li>
            <li class=row>
                <div class="column label">מיקום</div>
                <div class=column>אפה שנוח לך, מהמחשב האישי שלך</div>
            </li>
            <li class=row>
                <div class="column label">את יוצאת עם</div>
                <div class=column>כללי אבחון למבנה גוף ולפנים, לצבעים ולגיזרות לכל מבנה. ידע לכול סודות הסטיילינג – הלבשה תחתונה, איפור, סידור ארון, גיזרות המתאימות לכל מבנה גוף, ידע איך להראות יותר רזה, יותר גבוהה, איך להראות זוהרת</div>
            </li>
            <li class=row>
                <div class="column label">השקעה</div>
                <div class=column><b data-discount=CTPY9EE3EPMJ2 data-duration=3 data-text="49 ש&quot;ח" data-placholder="49 ש&quot;ח"><span hidden>49 ש"ח</span></b></div>
            </li>
        </ul>
        <div class=action id=register>
            {% include confirm.html %}
            <form action=https://www.paypal.com/cgi-bin/webscr method=post target=_top>
                <input type=hidden name=cmd value=_s-xclick>
                <input type=hidden name=lc value=he_IL>
                <input type=hidden name=hosted_button_id value=SHRTET5T3TNFG data-origin>
                <input type=hidden name=notify_url value="https://laukstein.us13.list-manage.com/subscribe/paypal-ipn?u=2d8c12be3a09dc2eb907c9be7&id=7b67220851">
                <img src=https://www.paypalobjects.com/en_US/i/scr/pixel.gif width=1 height=1 alt="">
                <button class=button>שלם</button>
            </form>
        </div>
    </div>
</div>
