---
layout: product
customLayout: true
category: products
className: no-padding

group: online
order: 1

title: מסע אל ארון מדוייק
title-short: קורס סטיילינג
description: בעוד 7 שבועות יהיה לך ארון עם אך ורק בגדים מחמיאים לך, שמבטאים את מי שאת מבפנים
permalink: /diy
redirect_from: /5min
redirectURL: https://mailchi.mp/adf663cdd992/lp0qtlpx0p
image: product-diy.jpg
duration: 7 שבועות
price: 720
max_payments: 8
extra: |
    * ליווי אישי במהלך הקורס בואטסאפ
    * מניפת צבעים
    * מיני קורס ארון מדויק
    * מיני קורס קניות ממוקדות
location: אונליין
recommendations1:
    - name: שחר
      field: תזונאית
      image: product-diy-recommendation-shahar.jpg
      text: |
        השתתפתי בקורס של לאה! הוא נפלא!!!
        שדרגתי כל כך את הלבוש(חולצה בחצאית, שמלות עם חגורות, התאמת ושילובי צבעים והדפסים ועוד ועוד... ובעיקר האומץ לנסות והבטחון להיות. להיות מי שאני ולהרגיש עם זה בנח!) מקבלת המון מחמאות מחברות ומכרות.
        ממליצה לכל אחת להרשם ולהתקדם בזכות הקורס למראה מדוייק ומחמיא יותר.
        אני לגמרי מרגישה שזכיתי להמון כלים ותובנות בקורס הזה!!!
    - name: רננה
      field: עובדת סוציאלית
      image: product-diy-recommendation-renana.jpg
      text: |
        לאה את מדהימה!
        קלטת אותי ישר ומיד תפסת מה הולך ומה לא. עזרת לי להבין מלא דברים על הדרך שבה אני קונה דברים ואיך אני משתמשת בהם. את יצירתית ומלאת נעימות וסבלנות. תודה ענקית!
    - name: לילך
      field: מורה
      image: product-diy-recommendation-lilah.jpg
      text: לאה שינתה לי את כל התפיסה לגבי הלבוש שלי, פתחה לי את המחשבה לאפשרויות אחרות ועזרה לי לקבל את צורת הגוף שלי, לאהוב אותו ולהתאים את הלבוש שלי לאיך שאני רוצה להרגיש. תודה לאה!
recommendations2:
    - name: ליטל
      field: מנחת הורים
      image: product-diy-recommendation-lital.jpg
      text: |
        לאה עשתה עבודה נהדרת ויסודית. למדתי המון, זה היה מרתק, עשוי במקצועיות רבה. ממש חיכיתי בכל פעם לשיעור הבא.
        קודם כל - זה עשוי בצורה יפה מקצועית. רואים שהיא השקיעה, גם בתוכן וגם בצורה.
        שנית - השיעורים קצרים וממוקדים. אין חפירות, יש תכל'ס, יש ידע קונקרטי.
        זה גם בנוי נכון ולכל שיעור נושא מוגדר.
        יש קבצים נלווים למלא בכל שיעור, שאלונים בנושא. את ממלאה את השאלון וזה נותן לך את האיבחון שלך בעקבות מה שמילאת (מבנה גוף, פלטת צבעים, סגנון לבוש וכו').
        יש קבוצת ווצאפ שמלווה את התהליך ומיועדת רק למשתתפות הקורס, ששם אפשר לשאול שאלות, להעלות לוקים שיצרת, להתייעץ באמצע קניות. לאה מגיבה ומסבירה ועונה על שאלות ויש גם פידבקים של הקבוצה. זה נותן תחושה שיש "אמא" לקורס, יש מישהי שמלווה את התהליך ונמצאת שם כדי לכוון ולייעץ.

        וחוץ מזה לאה באמת באמת מיוחדת! נעים להסתכל עליה כשהיא מדברת. היא מסבירה ומדגימה יפה ויוצרת עניין, והיא נותנת בליווי הקבוצתי תחושה נעימה שהיא לרשות המשתתפות כדי לתת מענה ולתרום מהידע שלה.
        היה מקסים לראות גם את השינוי שעברו הבנות בקבוצה, שפתאום מעיזות ללבוש צבעים נוספים, לעשות שיילובים חדשים, קשירות חדשות של מטפחות וכו'.
    - name: רונית
      field: מאפרת
      image: product-diy-recommendation-ronit.jpg
      text: |
        בזכות הקורס של לאה, למדתי הרבה והבנתי מה מחמיא לי יותר ומה מחמיא לי פחות.
        כיף גם שלמדתי איך לשלב צבעים מבלי להרגיש מוזר. אין סיכוי שהיתי מתלבשת ככה לפני כמה חודשים.
        גם הקניות בחנויות ממוקדות יותר ואני קונה רק מה שצריך וכמה שצריך.
        הקורס של לאה מכיף ומועיל מאוד. קיבלתי המון טיפים חשובים לכל אישה והכי חשוב: לאה היתה זמינה לכל שאלה, התייעצות או התלבטות.
        תודה לך לאה.

button:
    - orderid: 3715B774
css: |
    .table.no-padding.space {
        display: block;
    }
    .box.card figure {
        position: relative;
    }
    .box.card figure .image {
        max-height: initial;
        background-color: #eee;
    }
    main .logo.logo.logo {
        position: absolute;
        z-index: 1;
        right: 0;
        padding: 0 1em .1em 2.3em;
        font-weight: bold;
        white-space: nowrap;
        background-image: linear-gradient(-180deg, rgba(42,49,65,.65), rgba(42,49,65,0) 80%);
        -webkit-mask-image: linear-gradient(to right, transparent, #000 2.5em);
                mask-image: linear-gradient(to right, transparent, #000 2.5em);
    }
    main .logo.logo.logo img {
        display: inline-block;
        width: auto;
        margin: .45em;
        background-color: transparent;
    }
    .logo:hover,
    .logo:active {
        -webkit-filter: contrast(130%);
                filter: contrast(130%);
    }
    .sheet {
        margin-bottom: 1.2em;
    }
    .headline {
        font-weight: bold;
        font-size: 130%;
    }
    @media (max-width: 56em) {
        main .logo.logo.logo img {
            margin-right: .2em;
        }
    }
jsonldType: '["Product", "Course"]'
jsonldProperties: |
    "provider": {
        "@type": "Organization",
        "name": "סטיילינג לדתיות — לאה לאוקשטיין",
        "sameAs": "https://lea.laukstein.com"
    }
---

<article class="box card" dir=ltr>
    <figure>
        <a class=logo href=/ dir=rtl hidden>
            <img src="/assets/logo.png" width="47" height="47" alt="{{ site.title }}"><div>לאה לאוקשטיין</div>
        </a>
        <img class=image src=/assets/{{ page.image }} alt="{{ page.title }}">
    </figure>
    <div class=content dir=rtl>
        <h1>{{ page.title }}</h1>
        <h3>{{ page.description }}</h3>
        <p>פעם בשבוע תקבלי סרטון הדרכה ממוקד וחוברת עם המון דוגמאות ישירות אלייך במייל ובמקביל ליווי שלי בוואצאפ 24/7</p>
        <ul class=sheet>
            <li class=row>
                <div class="column label">אורך</div>
                <div class=column>7 שבועות</div>
            </li>
            <li class=row>
                <div class="column label">מה נלמד</div>
                <div class=column>
                    <ul>
                        <li>להכיר את מבנה הגוף, צבעים והסגנון שלך</li>
                        <li>להכיר היטב את תכולת הארון הקיים, כדי לדעת מה יש ומה חסר</li>
                        <li>לצאת לקניות עם רשימה ברורה</li>
                        <li>לא לקנות בדחף, לא לעשות קניות רגשיות</li>
                        <li>לסרב לפריטים לא מתוכננים, או לפחות לשקול היטב לגבי צורך והתאמה שלהם</li>
                        <li>לאזן את כמות הפריטים - למשל כמות דומה של חצאיות וחולצות</li>
                    </ul>
                </div>
            </li>
            <li class=row>
                <div class="column label">את יוצאת עם</div>
                <div class=column>תוכלי לעשות קניות חכמות וממוקדות, להכניס לארון שלך אך ורק פריטים מדוייקים ותואמים את הפנימיות ואת החיצוניות שלך, וגם לא תצטרכי יותר להתלבט מול הארון לפני כל יציאה מהבית</div>
            </li>
        </ul>{%
        include recommendation.html data = page.recommendations1 %}
        <ul class=sheet>
            <li class=row>
                <div class="column label">בונוס</div>
                <div class=column>
                    <ul>
                        <li>ליווי חופשי במהלך הקורס</li>
                        <li>תחילת ליווי מיום הרכישה</li>
                        <li>מפגש מסכם בסוף הקורס</li>
                    </ul>
                </div>
            </li>
            <li class=row>
                <div class="column label">ההשקעה</div>
                <div class=column>{{ page.price }} ש"ח</div>
            </li>
            <li class=row>
                <div class="column label">אחריות</div>
                <div class=column>החזר כספי מלא אחרי השיעור הראשון, אם מסיבה כל שהיא את לא מרוצה</div>
            </li>
        </ul>
        <div class=headline>בואי תבחרי מה נוח לך</div>
        <div class=sticky-footer>
            {% include button.html data = page %}
        </div>
        <p>לא בטוחה? רוצה להתיעץ איתי? תרימי טלפון <a href="tel:0585800020" target=_blank>058-5800020</a></p>{%
        include recommendation.html data = page.recommendations2 %}
        {% include button.html data = page %}
    </div>
</article>
