.logo {
    z-index: 1;
    background-color: #fff;
}
.content {
    overflow: hidden;
}
.space {
    padding-right: 1.4em;
    padding-left: 1.4em;
}
.stretch {
    overflow-y: auto;
        width: 100vw;
    max-width: 100%;
}
.stretch header,
.stretch main,
.stretch .bg {
    width: 100vw;
}
.stretch .logo {
    padding-right: 2.1em;
}
.logo {
    overflow: hidden;
    direction: rtl;
    position: relative;
}
.logo img {
    max-width: initial;
}
a.logo {
    padding-left: 0;
}
.profile {
    display: inline-block;
    min-width: 6em;
    padding: .6em 1.2em .5em .4em;
    line-height: 1;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    background-color: #fff;
}
.profile img {
    width: 42px;
    height: 42px;
    margin-left: .6em;
    float: right;
    vertical-align: middle;
    background-color: #c5c5c5;
    border-radius: 100%;
}
.profile .table.center {
    justify-content: inherit;
    height: 2.3em;
}
.profile .cel.cel.cel {
    padding: 0;
    margin: 0;
}
.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile .nowrap {
    max-width: 10em;
    margin-top: .2em;
}
.profile small {
    color: #00d;
    cursor: pointer;
}
.profile small:hover {
    text-decoration: underline;
}
.subscribe.subscribe {
    display: table-caption;
        width: 100%;
    max-width: 26em;
    padding: 5.7em 2em .5em;
    float: left;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}
.subscribe dl {
    width: 100%;
}
.spin.spin.spin:before {
    content: "";
    display: inline-block;
    padding: .3em;
    margin: .25em;
    font-size: 160%;
    vertical-align: middle;
    border: .16em solid currentcolor;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spin .36s infinite linear;
}
button.spin.spin.spin:before {
    margin: 1px;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.subscribe h1,
.subscribe h2 {
    margin-bottom: .8em;
    color: #fff;
    text-shadow: 1px 1px 1px #333,
                 0 0 4em rgba(0,0,0,.2);
}
.subscribe h2 {
    margin-top: 5em;
}
.subscribe dd {
        width: 100%;
    max-width: 20em;
    margin: 0;
    text-align: right;
}
.subscribe .session-error {
    padding: .66em .75em;
    margin: -1em 0 .4em;
    color: #333;
    line-height: 1.2;
    text-shadow: none;
    background-color: #fff;
    box-sizing: border-box;
}
.subscribe label,
.subscribe a {
    color: #fff;
}
.subscribe a {
    text-decoration: underline;
}
.subscribe a:hover,
.subscribe a:focus {
    text-decoration: none;
}
.subscribe input {
    border-color: transparent;
    outline: 0;
}
.subscribe input:focus {
    box-shadow: 0 0 2em rgba(0,0,0,.55);
}
button:not([data-plyr]) {
    margin-top: .15em;
}
button.error:not([data-plyr]) {
    color: #fff;
    text-shadow: -1px 0 0 #333;
    background-color: #b00;
}
.table img {
    position: absolute;
    bottom: 0;
    top: 0;
    max-width: inherit;
    object-fit: cover;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.column.nav-container,
.column.content {
    display: block;
    padding-top: 0;
}
.column.content {
    padding-left: 0;
}
.nav.nav.nav li:first-child,
.logedin .nav.nav li:nth-child(2) {
    border-right: none;
}
.nav-container {
    z-index: 9;
    width: 16em;
    float: left;
    vertical-align: top;
}
.sidenav {
    width: 100%;
    margin-top: .8em;
    float: right;
    clear: both;
    line-height: 1.2;
    white-space: nowrap;
    background-color: #fff;
}
.sidenav + .sidenav {
    margin-top: 0;
    border-top: 4px solid #eee;
}
.sidenav,
.sidenav ol {
    counter-reset: item;
    padding: 0;
}
.sidenav li {
    position: relative;
    display: block;
}
.sidenav time {
    margin: 0;
    margin-right: .4em;
    float: left;
    line-height: 1.3;
    font-weight: normal;
}
.sidenav label {
    display: block;
    position: relative;
    padding: 1em 1.2em;
    color: currentcolor;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}
.sidenav label[disabled] {
    color: #aaa;
    cursor: default;
}
.sidenav.counter label:before {
    content: counters(item, ".") ".";
    counter-increment: item;
    margin-left: .4em;
    float: right;
    font-weight: normal;
}
.sidenav:not(.counter) label {
    padding-right: 2.45em;
}
.sidenav:not(.counter) ol {
    border-top: 2px solid #eee;
}
.sidenav div,
.sidenav a {
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidenav a {
    display: block;
    color: inherit;
    text-decoration: none;
    outline: none;
}
.sidenav.counter .expand {
    background-color: #d9e7e7;
}
.sidenav a:hover,
.sidenav a:focus,
.sidenav label[onclick]:hover,
.sidenav label[onclick]:focus {
    color: #fff;
    background-color: #569e9b;
    border-color: #569e9b;
}
.sidenav .active.active.active {
    color: #fff;
    background-color: #438784;
    border-color: #438784;
}
.nav-container .selected {
    color: #fff;
    background-color: #569e9b;
    border-color: #569e9b;
}
.sidenav label:not(.expand) a {
    pointer-events: none;
}
.sidenav label[onclick]:hover time,
.sidenav label[onclick]:focus time,
.nav-container .selected time {
    color: #fff;
}
.sidenav > li {
    border-top: 2px solid #eee;
}
.sidenav > li:first-child {
    border-top: 0;
}
.sidenav ol {
    overflow: hidden;
    max-height: 0;
    background-color: #d9e7e7;
    will-change: transform;
    -webkit-transition: max-height .11s;
            transition: max-height .11s;
}
.sidenav .expand ~ ol {
    max-height: 30em;
    -webkit-transition: max-height 1s;
            transition: max-height 1s;
}
.sidenav ol li {
    border-top: 2px solid #f8f8f9;
}
.sidenav ol a {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2.45em;
}
.sidenav [data-highlight]:before {
    content: attr(data-highlight);
    margin-left: .8em;
    font-weight: normal;
}
.sidenav .link-download {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.1em;
    height: 2.1em;
    padding: 0 .45em;
    margin-top: .5em;
    margin-left: .5em;
    border-radius: 50%;
    box-sizing: border-box;
}
.sidenav .link-download + .link-download {
    left: 2.1em;
}
.sidenav .active .link-download,
.sidenav .active ~ .link-download,
.sidenav .unselectable:hover ~ .link-download {
    color: #fff;
}
.sidenav label:not(.active) .link-download:hover {
    background-color: #438784;
}
.sidenav label .link-download.link-download {
    left: 3.4em;
    pointer-events: all;
}
.sidenav .link-download svg {
    width: 100%;
    height: 100%;
}
.comment-container {
    width: calc(100% - 16.8em);
}
.medium.comment {
    max-width: 100%;
}
.bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #88828c url(/assets/academy.jpg) center 3.7em no-repeat;
    background-size: cover;
}
h1 {
    margin-top: .6em;
}
.items .cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.items .cover h3 {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    color: initial;
    text-align: right;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 #fff;
    background-color: rgba(255,255,255,.8);
}
.comment {
    padding-left: 1em;
}
.video {
    border-left: .4em solid transparent;
    box-sizing: border-box;
}
.form {
    margin: 6% 1.4em;
    margin-left: .8em;
}
.form button.spin.spin.spin:before {
    margin: -.12em;
    margin-left: .3em;
}
.qa {
    display: flex;
    flex-direction: column;
    list-style: none;
    white-space: normal;
}
.qa li {
    position: relative;
    flex: 1;
    margin: 0;
    list-style-type: none;
}
.qa .column.label {
    width: inherit;
}
.qa ol,
.qa input:checked ~ ol {
    padding: 0;
    margin: auto;
}
.qa input:checked ~ ol {
    padding: 2px;
}
.qa > ol {
    padding-left: 2px;
    margin: 1em auto;
}
.qa ol ol {
    display: none;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 1px 2px 1px #aaa;
}
.qa input:checked ~ ol {
    display: block;
}
.qa input {
    display: none;
}
.qa label {
    display: block;
    position: relative;
    padding: 1.2em 1.6em;
    padding-left: 1em;
    line-height: 1.4;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
}
.qa label:before {
    content: "";
    display: inline-block;
    padding: .4em;
    margin: .2em 0 .2em .5em;
    vertical-align: middle;
    background-color: #fff;
    border: .2em solid #f58e84;
    border-radius: 2px;
}
.qa ol ol label {
    padding-right: 2.85em;
}
.qa ol li:last-child label {
    border-bottom: 0;
}
.qa ol ol li:not(:last-child) label {
    border-color: #eee;
}
.qa label:not([disabled]):hover {
    background-color: #fff;
}
.qa label:not([disabled]):hover:before {
    border-color: #569e9b;
}
.qa label[disabled] {
    opacity: .4;
    pointer-events: none;
}
.qa label[disabled]:before {
    background-color: transparent;
    border-color: #ccc;
}
.qa input:checked ~ label {
    font-weight: bold;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 -1px 0 #eee,
                1px 2px 1px #aaa;
}
svg {
    fill: currentcolor;
    vertical-align: top;
    box-sizing: border-box;
}
svg[class*=icon-] {
    vertical-align: middle;
}
.icon-error {
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    margin-left: .25em;
}
.button .icon-download {
    width: 1.2em;
    height: 1.5em;
    margin: -.15em -.2em 0 .3em;
    fill: #fff;
}
.qa label .icon-check {
    position: absolute;
    width: 1.55em;
    height: 1.55em;
    visibility: hidden;
    padding: .3em;
    margin-right: -1.89em;
    fill: #fff;
}
.qa input:checked ~ label:before {
    color: #569e9b;
    background-color: currentcolor;
    border-color: currentcolor;
}
.qa input:checked ~ label .icon-check {
    visibility: visible;
}
.qa input:checked ~ label:hover,
.qa ol ol label:not([disabled]):hover {
    background-color: #f8f8f9;
}
.qa input:checked ~ label:hover:after {
    color: #fff;
    transition: color .15s cubic-bezier(.2,1,.4,1);
}

select.unselected {
    color: #000;
    background-color: #fff;
    border-color: #999;
    border-top-color: #ccc;
    border-left-color: #ccc;
}

.dialog {
    position: relative;
    z-index: 1;
    min-height: 15em;
    padding: 1em;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 -1px 0 #eee, 1px 2px 2px #aaa;
}
.dialog.final {
    padding: 0;
    text-align: right;
    background-color: transparent;
    box-shadow: none;
}
.dialog.final ol {
    padding-right: 1.3em;
}
.dialog.dialog.dialog ~ * {
    display: none;
}
.dialog .table {
    height: 100%;
}
.dialog .cel {
    display: table-cell;
    vertical-align: middle;
}
.dialog .close {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.6em;
    height: 1.6em;
    font-size: 170%;
    line-height: 1.6;
    outline: 0;
    cursor: pointer;
}
.dialog .close .icon-close {
    width: 100%;
    height: 100%;
    padding: .15em;
    fill: #777;
    transition: fill .35s cubic-bezier(.2,1,.4,1);
}
.dialog .close:hover .icon-close,
.dialog .close:focus .icon-close {
    fill: #333;
}
.dialog h1 {
    color: inherit;
    font-size: 1.7em;
}
.dialog .button {
    display: inline-block;
    visibility: visible;
    width: auto;
    margin: .6em auto 1.2em;
    float: none;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}
.dialog.final .button {
    margin-right: .2em;
    margin-left: .2em;
}
.calculator .sheet {
    margin: 0;
}
.calculator .row {
    display: table-row-group;
}
.calculator .column {
    display: table-cell;
    padding: .4em;
}
.calculator .label {
    font-weight: bold;
    white-space: nowrap;
}
.calculator input {
    direction: ltr;
    width: 5em;
    text-align: left;
}
.calculator button {
    width: 12em;
    margin-top: .55em;
}

.sum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sum .table {
    padding: 0;
    /* table-layout: auto; */
}
.sum .column {
    width: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.sum .column:last-child {
    padding-left: 0;
}
.sum .table.result .column {
    padding: .4em;
}
.sum .field-wrap {
    overflow: hidden;
}
.sum .label,
.sum input,
.sum select {
    min-width: 0;
        width: 100%;
    font-weight: bold;
}
.sum .label {
    font-weight: normal;
}
.sum .row:not(:first-child) .label {
    margin-top: .5em;
}
.sum .remove {
    position: relative;
    top: -.3em;
    min-width: auto;
    height: 100%;
    padding-right: .4em;
    padding-left: .4em;
    margin-right: .3em;
    float: left;
    color: #b00;
    background-color: transparent;
    border-radius: .4em;
    transition: background-color .15s cubic-bezier(.2,1,.4,1);
}
.sum .remove:hover,
.sum .remove:focus {
    background-color: #ffdfdb;
}
.sum .remove:active {
    background-color: #ffc2bd;
}
.sum input {
    font-size: 1em;
}
.sum input:-ms-input-placeholder {
    color: rgba(51,51,51,.62);
}
.sum input::-webkit-input-placeholder {
    color: rgba(51,51,51,.62);
}
.sum input::placeholder {
    color: rgba(51,51,51,.62);
}
.sum input::-webkit-inner-spin-button,
.sum input::-webkit-calendar-picker-indicator {
    display: none;
}
.sum button,
.sum .error {
    margin-top: .8em;
}
.sum button {
    width: auto;
}
.sheet.sheet-zebra {
    word-break: normal;
}
.sheet-zebra .labels {
    font-weight: bold;
    background-color: #ddd;
}
.sheet-zebra .row:not(.labels):nth-child(odd) {
    background-color: #fff;
}
.sheet-zebra .column:not(:last-child) {
    border-left: 1px solid #ccc;
}
.sheet-zebra .column.name {
    width: 35%;
}
.footer-link {
    display: inline-block;
    margin-top: 1.2em;
}
.pinterest.pinterest.pinterest > span {
    overflow: visible;
    max-width: 100%;
        width: 100% !important;
    background: transparent;
    box-shadow: none;
}
.pinterest.pinterest.pinterest > span > span:nth-child(2) {
    overflow: visible;
    height: auto !important;
}

.sat form {
    overflow: hidden;
}
.sat h4 {
    font-size: 130%;
    margin-bottom: 0;
}
.sat i {
    margin: .2em;
}
.sat .wrap {
    white-space: normal;
}
.sat.sat input:checked ~ label {
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 -1px 0 #eee, 0 2px 0 #aaa;
}
.sat .label,
.sat .label[disabled][disabled] {
    border-color: #ddd;
}
.swipe-pages {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    transition: transform .35s cubic-bezier(.2,1,.4,1);
    /* backface-visibility: hidden; // Prevents wrapper disorder when hovered disabled button having animation */
    -webkit-transform: translateZ(0); /* Android 4.4.4 legacy */
        -ms-transform: translateZ(0); /* IE9 legacy */
            transform: translateX(0);
}
.swipe-pages .page {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 1em 0.005em;
    vertical-align: top;
}
.swipe-pages .content {
    overflow: visible;
    max-width: 100%;
        width: 21em;
    margin: auto;
    box-sizing: border-box;
}
.sat .box .row {
    display: block;
    width: 100%;
    padding: 0;
    white-space: normal;
    box-sizing: border-box;
}
.sat .grid .box + .box {
    margin-top: 0;
}
.sat .grid figure {
    margin-bottom: 2em;
    transition-property: opacity, filter;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.2,1,.4,1);
}
.sat .grid .label {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 0;
}
.sat .grid .label:after {
    content: "";
    position: absolute;
    top: -19.5em;
    right: 0;
    bottom: -2px;
    left: 0;
}
.sat .grid input[disabled] ~ figure {
    opacity: .3;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}
.sat .grid input:checked ~ label {
    box-shadow: none;
}
.sat .grid input:checked ~ .label:after {
    border: 2px solid #569e9b;
}
.sat .next {
        width: auto;
    min-width: 7em;
}
.back {
    display: inline-block;
    margin: .8em 1.2em;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
}
.sat .next.spin.spin.spin:before {
    margin-top: 0;
    margin-right: .5em;
    margin-left: -.1em;
}

.bonuses {
    text-align: center;
}
.bonuses a {
    color: #f58e84;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-9px);
    }
    20% {
        transform: translateX(8px);
    }
    30% {
        transform: translateX(-7px);
    }
    40% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(4px);
    }
    70% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    90% {
        transform: translateX(-1px);
    }
}

button[disabled] {
    animation-name: shake;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
button[disabled].spin,
button[disabled]:not(:hover) {
    animation-name: none;
}

@media (max-width: 60em) {
    .nav a {
        padding-right: 1.4em;
    }
    .logedin .nav {
        padding-left: 3em;
        background-color: transparent;
    }
    .nav.nav.nav li {
        float: right;
        border-top: none;
        border-right: 1px solid #eee;
    }
    .stretch .bar.bar {
        display: none;
    }
    .logedin .bar.bar {
        position: fixed;
    }
    .logo {
        z-index: inherit;
        margin-right: -.5em;
    }
    .stretch .logo {
        padding-right: 1.6em;
    }
    .profile {
        padding-right: .5em;
    }
    .profile .nowrap {
        max-width: 3em;
    }
    .nav-container {
        display: block;
        top: 3.75em;
            width: 100vw;
        max-width: 24em;
        order: 2;
        float: none;
        background-color: #fff;
    }
    .bar-holder:checked ~ main .container .nav-container {
        box-shadow: 0 0 4em rgba(51,51,51,.11),
                    0 0 27vw rgba(51,51,51,.3);
    }
}
@media (max-width: 56em) {
    .table.scale {
        display: flex;
    }
    .subscribe.subscribe,
    .video + .space {
        padding-right: 1.4em;
        padding-left: 1.4em;
    }
    .subscribe.subscribe {
        display: flex;
        width: 100%;
        max-width: 22.8em;
        padding-top: 1em;
        padding-bottom: 3em;
        float: none;
        vertical-align: middle;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .column {
        padding: 0;
    }
    .comment-container {
        display: block;
        order: 2;
        width: auto;
        float: none;
    }
    .video {
        border-left: 0;
    }
    .comment {
        padding-left: 1.6em;
    }
    .form {
        margin-left: 1.4em;
    }
    .swipe-pages.full {
        width: calc(100% + 3.2em);
        margin-right: -1.6em;
        margin-left: -1.6em;
    }
    .swipe-pages .content {
        padding-right: 1.6em;
        padding-left: 1.6em;
    }
    .swipe-pages .row {
        padding: 0;
    }
}
@media (max-width: 38em) {
    main {
        padding-top: 3.7em;
        padding-bottom: 4.6em;
    }
}
@media (max-width: 28em) {
    html:not(.stretch) .nav li {
        display: none;
    }
    html:not(.stretch) .nav li:last-child {
        display: list-item;
    }
    .stretch .nav a {
        padding: 1em;
    }
    .logo {
        width: 3.3em;
        border-left: .3em solid #fff;
    }
    .sat .grid {
        grid-template-columns: 100%;
    }
}
@media (min-width:0\0) and (min-resolution: .001dpcm) { /* IE9 */
    .subscribe .spin:before {
        font-size: 25%;
    }
    button {
        margin-top: 1em;
    }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ */
    .subscribe .spin:before {
        font-size: 25%;
    }
}
