header .wrapper {
    min-width: 16.5em;
}
.content {
    overflow: hidden;
}
.stretch {
    overflow-y: auto;
        width: 100vw;
    max-width: 100%;
    background-color: #88828c;
}
.stretch header,
.stretch main,
.stretch .bg {
    width: 100vw;
}
.stretch .logo {
    padding-right: 2.1em
}
.logo {
    overflow: hidden;
    direction: rtl;
    position: relative;
}
.logo img {
    max-width: initial;
}
.profile {
    display: inline-block;
    min-width: 6em;
    padding: .6em 1.2em .5em .4em;
    line-height: 1;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    background-color: #fff;
}
.profile img {
    width: 42px;
    height: 42px;
    margin-left: .6em;
    float: right;
    vertical-align: middle;
    background-color: #c5c5c5;
    border-radius: 100%;
}
.profile .table.center {
    justify-content: inherit;
}
.profile .cel.cel {
    padding: 0;
    margin: 0;
}
.profile .nowrap {
    overflow: hidden;
    max-width: 10em;
    margin-top: .2em;
    text-overflow: ellipsis;
}
.profile small {
    color: #00d;
    cursor: pointer;
}
.profile small:hover {
    text-decoration: underline;
}
.subscribe.subscribe {
    display: table-caption;
        width: 100%;
    max-width: 26em;
    padding: 5.7em 2em .5em;
    float: left;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}
.spin.spin.spin:before {
    content: "";
    display: inline-block;
    padding: .3em;
    margin: .25em;
    font-size: 160%;
    vertical-align: middle;
    border: .16em solid currentcolor;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spin .36s infinite linear;
}
button.spin.spin.spin:before {
    margin: 1px;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.subscribe h1,
.subscribe h2 {
    margin-bottom: .8em;
    color: #fff;
    text-shadow: 1px 1px 1px #333,
                 0 0 4em rgba(0,0,0,.2);
}
.subscribe h2 {
    margin-top: 5em;
}
.subscribe dd {
        width: 18em;
    max-width: 100%;
    margin: auto;
    text-align: right;
}
.subscribe label,
.subscribe a {
    color: #fff;
}
.subscribe a {
    text-decoration: underline;
}
.subscribe a:hover,
.subscribe a:focus {
    text-decoration: none;
}
.subscribe input {
    border-color: transparent;
    outline: 0;
}
.subscribe input:focus {
    box-shadow: 0 0 2em rgba(0,0,0,.55);
}
button {
    margin-top: .15em;
}
button:focus,
button:active {
    box-shadow: 1px 1px .2em #333;
}
button.error {
    color: #fff;
    text-shadow: -1px 0 0 #333;
    background-color: #b00;
}
.table img {
    position: absolute;
    bottom: 0;
    top: 0;
    max-width: inherit;
    object-fit: cover;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.column.nav-container,
.column.content {
    display: block;
    padding-top: 0;
}
.nav-container {
    z-index: 9;
    width: 16em;
    float: left;
    vertical-align: top;
}
.nav {
    width: 100%;
    margin-top: .8em;
    float: right;
    clear: both;
    white-space: nowrap;
    background-color: #fff;
}
.nav + .nav {
    margin-top: 0;
    border-top: 4px solid #ededed;
}
.nav,
.nav ol {
    counter-reset: item;
    padding: 0;
}
.nav li {
    display: block;
}
.nav > li {
    counter-reset: subitem;
}
.nav time {
    margin: 0;
    margin-right: .4em;
    float: left;
    line-height: 1.3;
    font-weight: normal;
}
.nav label {
    display: block;
    position: relative;
    padding: .9em 1.2em;
    color: currentcolor;
    font-weight: bold;
    cursor: pointer;
}
.nav label[disabled] {
    color: #aaa;
    cursor: default;
}
.nav li label:before {
    content: counters(item, ".") ".";
    counter-increment: item;
    margin-left: .4em;
    float: right;
    font-weight: normal;
}
.nav li li a:before {
    content: counters(subitem, ".") ". ";
    font-weight: normal;
    counter-increment: subitem;
}
.nav div,
.nav a {
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    outline: none;
}
.nav .active,
.nav a:hover,
.nav a:focus,
.nav label[onclick]:hover,
.nav label[onclick]:focus,
.nav-container .selected {
    color: #fff;
    background-color: #1e90ff;
    border-color: #1e90ff;
}
.nav label[onclick]:hover time,
.nav label[onclick]:focus time,
.nav-container .selected time {
    color: #fff;
}
.nav > li {
    border-top: 2px solid #ededed;
}
.nav > li:first-child {
    border-top: 0;
}
.nav ol {
    display: none;
    box-suppress: discard;
    margin-bottom: .4em;
}
.nav .expand ~ ol {
    display: block;
}
.nav ol a {
    padding-top: .4em;
    padding-bottom: .4em;
    padding-right: 2.5em;
}
.comment-container {
    width: calc(100% - 16.8em);
}
.medium.comment {
    max-width: 100%;
}
.bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #88828c url(/assets/academy.jpg) center 3.7em no-repeat;
    background-size: cover;
}
.items .cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.items .cover h3 {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    margin: 0;
    color: initial;
    text-align: right;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 #fff;
    background-color: rgba(255,255,255,.8);
}
.form {
    margin: 6% 2.1em;
}
.form button.spin.spin.spin:before {
    margin: -.12em;
    margin-left: .3em;
}
.qa ol,
.qa input:checked ~ ol {
    padding: 0;
    margin: auto;
}
.qa > ol {
    margin: 1em auto;
}
.qa ol ol {
    display: none;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 1px 2px 1px #aaa;
}
.qa input:checked ~ ol {
    display: block;
}
.qa li {
    position: relative;
    flex: 1;
    list-style-type: none;
}
.qa a {
    visibility: hidden;
    margin-right: .4em;
    float: left;
}
.qa input {
    display: none;
}
.qa label {
    display: block;
    position: relative;
    padding: 1.2em 1.6em;
    padding-left: 1em;
    line-height: 1.4;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
}
.qa label:before {
    content: "";
    display: inline-block;
    padding: .4em;
    margin: .2em 0 .2em .5em;
    vertical-align: middle;
    background-color: #fff;
    border: .2em solid #d8940f;
    border-radius: 2px;
}
.qa ol ol label {
    padding-right: 2.85em;
}
.qa ol li:last-child label {
    border-bottom: 0;
}
.qa ol ol li:not(:last-child) label {
    border-color: #eee;
}
.qa label:not([disabled]):hover {
    background-color: #fff;
}
.qa label:not([disabled]):hover:before {
    border-color: #4d90fe;
}
.qa label[disabled] {
    opacity: .4;
    pointer-events: none;
}
.qa label[disabled]:before {
    background-color: transparent;
    border-color: #ccc;
}
.qa input:checked ~ label {
    font-weight: bold;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 -1px 0 #eee,
                1px 2px 1px #aaa;
}
.qa input:checked ~ label:before {
    background-color: #4d90fe;
    border-color: #4d90fe;
}
.qa input:checked ~ label:after {
    content: "\2716";
    position: absolute;
    top: 1.65em;
    right: 2.15em;
    color: transparent;
    font-weight: normal;
    font-size: 86%;
    transition: color .35s cubic-bezier(.2,1,.4,1);
}
.qa input:checked ~ label:hover,
.qa ol ol label:not([disabled]):hover {
    background-color: #f9f9f9;
}
.qa input:checked ~ label:hover:after {
    color: #fff;
    transition: color .15s cubic-bezier(.2,1,.4,1);
}
.dialog {
    position: relative;
    z-index: 1;
    height: 15em;
    padding: 1em;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 -1px 0 #eee, 1px 2px 2px #aaa;
}
.dialog.final {
    background-color: transparent;
    box-shadow: none;
}
.dialog.dialog.dialog ~ * {
    display: none;
}
.dialog .table {
    height: 100%;
}
.dialog .cel {
    display: table-cell;
    vertical-align: middle;
}
.dialog .close {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.6em;
    height: 1.6em;
    font-size: 170%;
    line-height: 1.6;
    cursor: pointer;
}
.dialog .close:before {
    content: "\01F7A9";
}
.dialog h1 {
    color: inherit;
    font-size: 1.7em;
}
.dialog .button {
    display: inline-block;
    visibility: visible;
    width: auto;
    margin: .6em auto 1.2em;
    float: none;
    color: #fff;
    text-shadow: none;
    background-color: #1e90ff;
    box-shadow: none;
}
.dialog.final .button {
    margin-right: .2em;
    margin-left: .2em;
}
.dialog .button:focus,
.dialog .button:active {
    background-color: #0081ff;
}
.calculator .sheet {
    margin: 0;
}
.calculator .row {
    display: table-row-group;
}
.calculator .column {
    display: table-cell;
    padding: .4em;
}
.calculator .label {
    font-weight: bold;
    white-space: nowrap;
}
.calculator input {
    direction: ltr;
    width: 5em;
    text-align: left;
}
.calculator button {
    width: 12em;
    margin-top: .55em;
}

.sat form {
    overflow: hidden;
}
.sat h4 {
    font-size: 130%;
    margin-bottom: 0;
}
.sat i {
    margin: .2em;
}
.sat .wrap {
    white-space: normal;
}
.sat.sat input:checked ~ label {
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 -1px 0 #eee, 0 2px 0 #aaa;
}
.sat .label,
.sat .label[disabled][disabled] {
    border-color: #ddd;
}
.sat .wrapper {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    transition: transform .35s cubic-bezier(.2,1,.4,1);
    -webkit-transform: translateZ(0); /* Android 4.4.4 legacy */
        -ms-transform: translateZ(0); /* IE9 legacy */
            transform: translateX(0);
}
.sat .qa {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 1em 0;
    vertical-align: top;
}
.sat .box .row {
    display: block;
    width: 100%;
    padding: 0;
    white-space: normal;
    box-sizing: border-box;
}
.sat .next {
        width: auto;
    min-width: 7em;
    height: auto;
    padding: .8em 1.2em;
    margin: 0;
    color: #fff;
    text-shadow: -1px -1px #000;
    background-color: #4d90fe;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}
.sat .back {
    display: inline-block;
    margin: .8em 1.2em;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
}
.sat .next.spin.spin.spin:before {
    margin-top: 0;
    margin-right: .5em;
    margin-left: -.1em;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-9px);
    }
    20% {
        transform: translateX(8px);
    }
    30% {
        transform: translateX(-7px);
    }
    40% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(4px);
    }
    70% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    90% {
        transform: translateX(-1px);
    }
}

button[disabled] {
    animation-name: shake;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
button[disabled].spin,
button[disabled]:not(:hover) {
    animation-name: none;
}

@media (max-width: 54em) {
    .stretch header .wrapper {
        min-width: 24.779em;
    }
    .logedin nav {
        padding-left: 3em;
        background-color: transparent;
    }
    nav a {
        display: inline-block;
    }
    .stretch .bar.bar {
        display: none;
    }
    .logedin .bar.bar {
        position: fixed;
    }
    .logo {
        margin-right: -.5em;
    }
    .stretch .logo {
        margin-right: 0;
    }
    .profile {
        padding-right: .5em;
    }
    .profile .nowrap {
        max-width: 3em;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .column {
        padding: 0;
    }
    .nav-container,
    .comment-container {
        display: block;
        order: 2;
        width: auto;
        float: none;
    }
    .nav-container {
        top: 3.75em;
            width: 100vw;
        max-width: 24em;
        background-color: #fff;
    }
    .bar-holder:checked ~ main .container .nav-container {
        box-shadow: 0 0 4em rgba(51,51,51,0.11),
                    0 0 27vw rgba(51,51,51,0.3);
    }
}
@media (max-width: 33em) {
    .logedin nav a {
        visibility: hidden;
    }
}
@media (max-width: 28em) {
    .stretch nav a {
        padding: 1em;
    }
    .stretch header .wrapper {
        min-width: 18.5em;
    }
    .logo {
        width: 84px;
    }
}
@media (min-width:0\0) and (min-resolution: .001dpcm) { /* IE9 */
    .subscribe .spin:before {
        font-size: 25%;
    }
    button {
        margin-top: 1em;
    }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ */
    .subscribe .spin:before {
        font-size: 25%;
    }
}
