{% if include.data %}{%
    if include.data.button %}{%
    for item in include.data.button %}{%
        if item.orderid and page.price %}{%
            if include.data.max_payments > 1 %}{%
                case include.data.max_payments %}{%
                    when 2 %}{%
                        assign count = "שני" %}{%
                    when 3 %}{%
                        assign count = "שלושה" %}{%
                    when 4 %}{%
                        assign count = "ארבעה" %}{%
                    when 5 %}{%
                        assign count = "חמישה" %}{%
                    when 6 %}{%
                        assign count = "שישה" %}{%
                endcase %}{%
                capture price %}{% include price.html data=include.data calc=true %}{% endcapture %}{%
                capture text %}ב{{ count }} תשלומים {{ price | strip_newlines }} ₪{% endcapture %}{%
            else %}{%
                if item.title %}{%
                    assign text = item.title %}{%
                else %}{%
                    capture price %}{% include price.html data=include.data %}{% endcapture %}{%
                    capture text %}לתשלום {{ price | strip_newlines }} ₪{% endcapture %}{%
                endif %}{%
            endif %}<a href="/payment#orderid={{ item.orderid }}" class=button>{{ text }}</a>{%
        endif %}{% if item.more | markdownify %}
            {{ item.more }}{%
        endif %}{%
    endfor %}{%
    else %}<a class=button href=/contact#{{ include.data.id | default: include.data.permalink | remove: "/" }} tabindex=0>צרי קשר</a>{%
    endif %}{%
endif %}
