{% if include.data %}{%
    if include.data.button %}{%
    for item in include.data.button %}{%
        if item.orderid %}
            <a href="/payment#orderid={{ item.orderid }}" class=button>{%
                if item.title %}{{ item.title }}{%
                else %}לתשלום {{ page.price }} ש"ח{%
                endif %}</a>{%
        endif %}{% if item.more | markdownify %}
            {{ item.more }}{%
        endif %}{%
    endfor %}{%
    else %}<a class=button href=/contact#{{ include.data.id | default: include.data.permalink | remove: "/" }} tabindex=0>צרי קשר</a>{%
    endif %}{%
endif %}
