{% if include.value
%}<time datetime="{{ include.value | date_to_xmlschema }}" itemprop=datePublished>{{ include.value | date: "%R, %-d ב" }}{%
    assign m = include.value | date: "%-m" %}{%
    case m %}{%
        when '1' %}ינואר{%
        when '2' %}פברואר{%
        when '3' %}מרץ{%
        when '4' %}אפריל{%
        when '5' %}מאי{%
        when '6' %}יוני{%
        when '7' %}יולי{%
        when '8' %}אוגוסט{%
        when '9' %}ספטמבר{%
        when '10' %}אוקטובר{%
        when '11' %}נובמבר{%
        when '12' %}דצמבר{%
    endcase %}{{ include.value | date: " %Y" }}</time>{%
endif %}
