<div class=headlines>
<div class=grid>
{% assign index = 0 %}{%
assign max = 4 %}{%
assign pages=site.pages | sort: "date" | reverse %}{%
for post in pages %}{%
    if post.layout == "post" %}{%
        if index < max %}
    <blockquote class=box>
        <a class=absolute href={{ post.url | prepend: site.baseurl }} tabindex=0></a>
        <div>{% include date.html value = post.date %}</div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content | markdownify | strip_html | truncatewords: 20, '... <a>המשך קריא</a>' }}</p>
    </blockquote>{%
        else %}{%
            capture more %}{{ more }}<li><a href={{ post.url | prepend: site.baseurl }}>{{ post.title }}</a></li>{% endcapture %}{%
        endif %}{%
        assign index = index | plus: 1 %}{%
    endif %}{%
endfor %}
{% if more %}
    <blockquote class="box footer">
        <p>מאמרים נוספים:</p>
        <ol start={{ max | plus: 1 }}>{{ more }}</ol>
    </blockquote>{%
endif %}
</div>
</div>
