<div class=headlines>{{ page.news }}
<div class=grid>
{% assign index = 0 %}{%
assign max = 4 %}{%
assign pages=site.pages | sort: "date" | reverse %}{%
for post in pages %}{%
    if post.layout == "post" %}{%
        if index < max %}{%
            capture image %}{%
                include get-image.html
                url = post.url
                date = post.date %}{%
            endcapture %}{%
            assign image = image | strip_newlines %}
    <blockquote class=box>{%
        if image %}
        <figure>
            <img class=absolute src={{ site.assets }}{{ image }}{% if post.image.width %} width={{ post.image.width }}{% endif %} alt="{{ post.title }}">
        </figure>{%
        endif %}
        <h2>{{ post.title }}</h2>
        <p class=clamp>{{ post.content | markdownify | strip_html | truncatewords: 20, ' ...' }}</p>
        <div class=footer>{% include date.html value = post.date %}</div>
        <a class=more href={{ post.url | prepend: site.baseurl }}>המשך קריא</a>
        <a class=absolute href={{ post.url | prepend: site.baseurl }} aria-label="{{ post.title | strip_html }}" tabindex=0></a>
    </blockquote>{%
        endif %}{%
        assign index = index | plus: 1 %}{%
    endif %}{%
endfor %}{%
if index > max %}
    <a class="footer button" href=/blog>מאמרים נוספים</a>{%
endif %}
</div>
</div>
