{% if include.image %}
    <figure{% if include.className %} class="{{ include.className }}"{% endif %}>
        <img src={{ site.assets }}{{ include.image }}{%
            if include.width %} width={{ include.width }}{% endif %}{%
            if include.height %} height={{ include.height }}{% endif %} alt="{{ include.title }}">
        {% if include.label %}<figcaption>{{ include.label | markdownify }}</figcaption>{% endif %}
    </figure>
    {% if include.text %}{{ include.text | markdownify }}{% endif %}
{% endif %}
