.table.scale.scale {
    transition: padding-top .12s;
}
.table.center.center {
        height: 100%;
    min-height: 0;
}
.box {
    /* Firefox 63 legacy */
    display: flex;
    flex-flow: column;
    justify-content: center;

    height: 100%;
    border-radius: .6em;
}
.box .figure {
    margin-top: 1.5em;
    margin-bottom: 0;
}
.box .figure.footer {
    min-height: 0;
    padding: 2em 2em 2.3em;
    margin-top: .2em;
    margin-bottom: -2.1em;
    color: #666;
    font-size: 97%;
    background-color: #f3f4f7;
    border-radius: 0 0 .6em .6em;
}
.qa ol,
.qa input:checked ~ ol {
    padding: 0;
    margin: auto;
}
.qa > ol {
    margin: 1em auto;
}
.qa ol ol {
    display: none;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 1px 2px 1px #aaa,
                0 .3em 2em -.9em #555;
}
.qa input:checked ~ ol {
    display: block;
}
.qa.qa li {
    position: relative;
    flex: 1;
    margin: 0;
    list-style-type: none;
}
.qa a {
    visibility: hidden;
    margin-right: .4em;
    float: left;
}
.qa input {
    display: none;
}
.qa label {
    display: block;
    position: relative;
    padding: 1.2em 1.6em;
    padding-left: 1em;
    color: #333;
    line-height: 1.4;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
}
.qa ol ol label {
    padding-right: 2.85em;
}
.qa ol li:last-child label {
    border-bottom: 0;
}
.qa ol ol li:not(:last-child) label {
    border-color: #eee;
}
.qa label:not([disabled]):hover:before {
    border-color: #569e9b;
}
.qa label[disabled][disabled][disabled] {
    opacity: .4;
    background-color: transparent;
    pointer-events: none;
}
.qa input:checked ~ label {
    font-weight: bold;
    background-color: #fff;
    border-color: transparent;
    box-shadow: inset 0 -.2em .5em -.2em rgba(0,0,0,.02),
                0 -1px 0 #e4e4e4,
                1px 2px 1px #aaa,
                0 .2em 2em -.9em #555;
}
.qa svg {
    vertical-align: top;
    box-sizing: border-box;
}
.button .icon-download {
    width: 1.2em;
    height: 1.5em;
    margin: -.15em -.2em 0 .3em;
    fill: #fff;
}
.qa .checkbox {
    position: relative;
    display: inline-block;
    padding: 8px;
    margin-left: .7em;
    color: #f58e84;
    vertical-align: middle;
    background-color: #fff;
    border: 3px solid currentcolor;
    border-radius: 2px;
    transition: background-color .24s,
                border-color .24s,
                box-shadow .15s ease-in-out;
}
.qa label:hover .checkbox {
    color: #2196f3;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.qa input:checked ~ label .checkbox {
    background-color: #2196f3;
    color: #2196f3;
}
.qa input:checked ~ label .checkbox:before {
    visibility: visible;
}
.qa label .checkbox:before {
    content: "";
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 6px;
    height: 12px;
    margin: -1px auto;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(45deg);
}
.qa label[disabled] .checkbox {
    color: #bbb;
}
.qa input:checked ~ label,
.qa ol ol label:not([disabled]):hover,
.qa label:not([disabled]):hover {
    background-color: #f8f8f9;
}
.qa input:checked ~ label:hover:after {
    color: #fff;
    transition: color .15s cubic-bezier(.2,1,.4,1);
}
.dialog {
    position: relative;
    z-index: 1;
    height: 15em;
    padding: 1.6em;
    text-align: center;
    background-color: #f8f8f9;
    border-radius: 3px;
    box-shadow: 0 -1px 0 #e4e4e4,
                1px 2px 1px #aaa,
                0 .4em 1em rgba(85,85,85,.22),
                0 .2em 2em -.9em #555;
}
.dialog.final {
    height: 100%;
    background-color: transparent;
    box-shadow: none;
}
.dialog.dialog.dialog ~ * {
    display: none;
}
.dialog .table {
    height: 100%;
}
.dialog .cel {
    display: table-cell;
    vertical-align: middle;
}
.dialog .close {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.6em;
    height: 1.6em;
    font-size: 170%;
    line-height: 1.6;
    outline: 0;
    cursor: pointer;
}
.dialog .close .icon-close {
    width: 100%;
    height: 100%;
    padding: .15em;
    fill: #888;
    transition: fill .35s cubic-bezier(.2,1,.4,1);
}
.dialog .close:hover .icon-close,
.dialog .close:focus .icon-close {
    fill: #555;
}
.dialog.final .context {
    max-width: 27em;
    padding-right: 1.5em;
    margin: auto;
    text-align: right;
}
.dialog.final time {
    margin: .4em 0;
}
.dialog button {
        width: auto;
    max-width: 100%;
    line-height: 1.11;
    background-color: #00b0a9;
    border-color: rgba(0,0,0,.2);
    border-top-color: rgba(255,255,255,0);
    border-left-color: rgba(255,255,255,0);
    border-width: 2px;
    border-radius: 4px;
    outline: 0;
    box-shadow: inset -2px -2px 0 -1px rgba(255,255,255,.14),
                1px 1px 2px rgba(0,0,0,.15);
    transition: color .15s,
                background-color .15s,
                border-color .15s,
                box-shadow .15s;
}
.dialog button:not(:active):not([disabled]):hover {
    background-color: #09bab4;
}
.dialog button:focus,
.dialog button:hover:active {
    background-image: linear-gradient(rgba(100,100,100,.23), rgba(100,100,100,.23));
    border-color: transparent;
    box-shadow: none;
}
