{% if include.data %}{%
    assign page = include.data %}{%
    assign l10n = site.data.l10n.product
%}<article class="box card"{%
    if page.ribbon %} data-ribbon="{{ page.ribbon }}"{% endif %} dir=ltr>{%

    if include.more %}{%
        assign title = page.title %}{%
        assign imageTitle = page.imageTitle | default: page.title %}
    {% include youtube.html id = page.video %}{%
        include image.html
        title = imageTitle
        image = page.image
        className = page.imageClass
        width = page.imageWidth
        height = page.imageHeight
        label = page.imageLabel
    %}{% else %}{%
        assign title = page.title-short | default: page.title %}{%
    endif %}
    <div class=content dir=rtl>
        {% if title %}<h1>{{ title }}</h1>{% endif %}{%
        if include.more and page.description %}
        <h3>{{ page.description }}</h3>{%
        endif %}
        <ul class="sheet{% if include.more == nil %} sheet-fixed{% endif %}">{%
            for item in l10n %}{%
                if item.name != "title" and item.name != "buttonType" and item.title and page[item.name] %}{%
                if item.more == nil or include.more %}
                <li class=row>
                    <div class="column label">{{ item.title }}</div>
                    <div class=column>{%
                        if page[item.name] contains "
" %}{{ page[item.name] | markdownify }}{%
                        else %}{%
                            if item.name == "price" %}{% include price.html data=page %}{%
                            else %}{{ page[item.name] }}{%
                            endif %}{%
                        endif %}{%
                        if item.name == "price" %} ש"ח{%
                            if page.discount %} ({{ page.discount }}){% endif %}{%
                        endif %}</div>
                </li>{%
                endif %}{%
                endif %}{%
            endfor %}
        </ul>{% if page.notice %}
        <div class=product-notice>{{ page.notice | markdownify | replace: "<br />", "<br>" | replace: "“", "&quot;" | replace: "”", "&quot;" | strip_newlines }}</div>{%
        endif %}{% if include.more %}{%
            include recommendation.html data = page.recommendations %}{%
            if page.payment-details %}
        {{ page.payment-details | markdownify }}{%
            endif %}
        <div class=sticky-footer>{% endif %}{%
            if include.more == nil %}
        <div class=buttons-footer>{%
            endif %}{%
            include button.html data = page %}{%
            if include.more == nil %}
            <a class=more href={{ page.url }}>פרטים מלאים</a>
        </div>
        <a class=absolute href={{ page.url }} aria-label="{{ page.title | strip_html }}"></a>{%
            endif %}
    </div>{% if include.more %}
    </div>{% endif %}
</article>{%
endif %}
