.full {
    background: top no-repeat url(/assets/products.jpg);
    background-size: contain;
}
.cel {
    display: table-cell;
    width: 100%;
    vertical-align: bottom;
    border: 0;
}
.list-boxes {
    grid-template-columns: repeat(auto-fit, minmax(27em, 1fr));
    width: 100%;
    margin: auto 0 0;
    border: 0 solid transparent;
    border-width: .8em;
    line-height: 1.3;
    text-align: center;
    vertical-align: bottom;
    box-sizing: border-box;
}
.list-boxes .box {
    max-width: calc(100vw - 2.7em);
    padding: 2em;
    border-radius: 1em;
}
.list-boxes h2 {
    margin-top: .3em;
    margin-bottom: 1em;
    font-size: 1.75em;
}
.list-boxes .list {
    margin: 0;
}
.list-boxes .list a {
    display: inline-block;
    padding: .5em;
    font-size: 103%;
}

@media (max-width: 56em) {
    .list-boxes {
        margin-bottom: 2em;
    }
}
