{% if include.breadcrumb %}{%
    assign listItem = site.url | append: include.url | append: "|" | append: include.title %}{%
    assign breadcrumb = include.breadcrumb | push: listItem %}{%
    if breadcrumb.size > 1 %}[{% endif %}{%
endif

%}{
    "@context": "https://schema.org",
    "@type": {{ include.jsonldType | default: '"Product"' }},
    "name": "{{ include.title | escape }}",{% if include.description %}
    "description": "{{ include.description | escape }}",{% endif %}{% if include.image %}
    "sku": "{{ include.url }}",
    "image": "{{ include.image }}",{% endif %}{% if include.price %}
    "review": {
        "@type": "Review",
        "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
        },
        "author": {
            "@type": "Person",
            "name": "רונית טורוול"
        }
    },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "20989"
    },
    "brand": {
        "@type": "Thing",
        "name": "{{ include.title | escape }}"
    },
    "offers": {
        "@type": "Offer",
        "price": "{{ include.price }}",
        "priceCurrency": "ILS",
        "priceValidUntil": "2059-12-31",
        "availability": "https://schema.org/InStock",
        "url": "{{ site.url | append: include.url }}"
    }{% endif %}{% if include.jsonldProperties %},
    {{ include.jsonldProperties }}{% endif %}
}{%

if include.breadcrumb && breadcrumb.size > 1 %},{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{%
    assign position = 0 %}{%

    for listItem in breadcrumb %}{%
        assign position = position | plus: 1 %}{%
        assign items = listItem | split: "|"

        %}{
        "@type": "ListItem",
        "position": {{ position }},
        "item": {
            "@id": "{{ items[0] }}",
            "name": "{{ items[1] | escape }}"
        }
    }{% if position < breadcrumb.size %},{% endif %}{%
    endfor %}]
}]{%
endif %}
