.full {
    background: top no-repeat url(/assets/products.jpg);
    background-size: cover;
}
.cel {
    display: table-cell;
    vertical-align: bottom;
    border: 0;
    background: bottom no-repeat radial-gradient(ellipse at bottom, rgba(57,63,68,.3), rgba(0,0,0,0) 60%);
    background-size: 100vw 40vh;
}
.list-boxes {
    position: relative;
    z-index: 1;
    display: table;
    table-layout: fixed;
    width: 100%;
    line-height: 1.3;
    vertical-align: bottom;
}
.list {
    margin-bottom: .85em;
}
.box {
    display: table-cell;
    padding-right: 1.1em;
    padding-left: 1.1em;
    text-align: center;
    background-clip: padding-box;
    border: 0 solid transparent;
    border-width: .8em;
    border-radius: 1em;
}
.box + .box {
    margin-top: 0;
}
.box h2 {
    margin-top: .3em;
    margin-bottom: 1em;
    font-size: 1.75em;
}
.box a {
    display: inline-block;
    padding: .5em;
    font-size: 103%;
}

@media (max-width: 54em) {
    main {
        background-color: #e2e1e7;
    }
    .full {
        background-position: center 3.75em;
        background-attachment: fixed;
        background-size: contain;
    }
    .cel {
        background: none;
    }
    .list-boxes {
        margin-top: calc(100% / 4.2);
    }
    .box {
        display: table-caption;
    }
}
