<form class="cel space" id=form name=70a2d0d976>
    <h1>סדרת סטיילינג</h1>
    <dl>
        <dt>
        <dd><label for=email>אימייל</label><input id=email name=EMAIL type=email placeholder=*אימייל data-error="אימייל שגוי" autocomplete=email dir=ltr data-required autofocus>
        <dd><label for=name>שם</label><input id=name name=FNAME placeholder="*שם" data-error="תקליד שם" autocomplete=name dir=auto data-required>
        <dd><label for=tel>נייד (אופציונאלי)</label><input id=tel name=MMERGE3 type=tel placeholder=נייד autocomplete=tel dir=ltr>
        <dd><button>להורדה בחינם</button>
    </dl>
</form>
<script>{% include form.min.js %}</script>
{% comment %}<script src=/assets/form.js></script>{% endcomment %}
