/* Layout https://jsbin.com/xuxoqi/edit */
@viewport {
    width: device-width;
}

html,
body {
    height: 100%;
}
html,
header,
img,
label,
iframe,
button,
.button,
.nav,
[disabled],
.unselectable,
[unselectable] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    min-width: 21em;
    color: #333;
    font: 62.45% / 1.5 sans-serif;
    text-rendering: optimizeSpeed;
    background-color: #f9f9f9;
    touch-action: manipulation;
    cursor: default;
}
body,
dd,
dl,
iframe {
    margin: 0;
}
body {
    font-size: 1.7em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
a,
img {
    -webkit-user-drag: none;
            user-drag: none;
}
a {
    color: #00d;
    text-decoration: none;
    -webkit-box-decoration-break: clone; /* Chrome legacy, demo http://jsbin.com/xojoro/quiet */
            box-decoration-break: clone;
    outline: transparent solid 2px;
    transition: outline .15s;
}
[tabindex="-1"] {
    outline: 0;
    transition:  none;
}
a:hover,
a:focus {
    color: #02a;
    text-decoration: underline;
}
a.absolute:hover,
a.absolute:focus,
a:not(.absolute):hover ~ a.absolute,
form:hover ~ a.absolute {
    outline-color: #4d90fe;
    outline-style: solid;
}
a[onclick] {
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: nearest-neighbor; /* IE8-IE11 legacy */
    image-rendering: -webkit-optimize-contrast; /* Webkit will drop this property https://bugs.webkit.org/show_bug.cgi?id=97991#c5 */
    image-rendering: -moz-crisp-edges; /* Firefox legacy */
    image-rendering:      crisp-edges; /* Safari legacy */
    image-rendering: pixelated;
    -webkit-user-drag: none;
            user-drag: none;
}
a img {
    border: 0; /* IE10 fix */
}
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding-right: .5em;
    padding-left: .5em;
    font-weight: bold;
    font-size: 106%;
    white-space: nowrap;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}
header a {
    display: inline-block;
}
header .wrapper {
    min-width: 14.779em;
    max-width: 80em;
    margin: auto;
}
nav {
    /* position: relative; */
    display: inline-block;
    text-align: center;
    background-color: #fff;
}
/* nav:before {
    content: "";
    position: absolute;
    top: 0;
    right: -3em;
    bottom: 0;
    width: 3em;
    background-image: linear-gradient(to right, #fff, rgba(255,255,255,0));
} */
nav a {
    position: relative;
    padding: 1em 1.4em;
    color: inherit;
    vertical-align: top;
}
nav a:hover,
nav a:focus,
.bar:hover,
.bar:focus {
    color: inherit;
    text-decoration: none;
    background-color: #f9f9f9;
}
nav .active.active {
    color: #d8940f;
}
nav .active:after {
    content: '';
    display: block;
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: -1px;
    height: .2em;
    background-color: #d8940f;
}
.external.external {
    padding: 1.2em .35em;
    background-color: transparent;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}
.external.external:hover,
.external.external:active {
    -webkit-filter: none;
            filter: none;
}
[class*=icon-] {
    height: 20px;
    background-image: url(/assets/sprites.png);
    background-repeat: no-repeat;
}
.icon-youtube {
    width: 39px;
}
.icon-facebook {
    width: 20px;
    background-position: -40px 0;
}
.logo {
    padding: 0 1.4em .6em;
    float: right;
}
.logo:hover,
.logo:active {
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
}
.logo img {
    margin-top: .3em;
}
main {
    display: block; /* Compatibiliy for IE11, old Safari 5.1.7 */
        width: 100%;
    min-width: 12.6em;
    max-width: 84.78em;
    height: 100%;
    padding-top: 3.7em;
    margin: auto;
    box-sizing: border-box;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.list {
    padding: 0;
    margin: 0 0 3em;
    list-style: none;
}
.items li,
.box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 2.1em;
    box-sizing: border-box;
}
.video + .box {
    margin-bottom: 3em;
}
.items.items li,
.box.box {
    background-color: #fff;
}
.box.no-padding {
    padding: 0;
}
.items li:before,
.items li:after,
.box:before,
.box:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    box-shadow: 0 15px 10px rgba(51,51,51,.3);
}
.items li:before,
.box:before {
    left: 8px;
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
}
.items li:after,
.box:after {
    right: 8px;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
}
.box figure {
    max-width: calc(100% + 4.2em);
    margin: -2.1em -2.1em 2.1em;
}
.box figure.flow {
    margin-left: 2.1em;
    margin-bottom: -2.1em;
    float: right;
}
.box figure.flow + h2 {
    padding-top: 3.2em;
}
.no-padding .box figure.flow {
    margin-bottom: .5em;
}
.box figure img {
    width: 100%;
}
.box figcaption {
    padding: .6em 2.1em 0;
    color: #666;
}

time {
    display: inline-block;
    margin: 1.2em 0 1em;
    color: #aaa;
    font-size: 90%;
}
blockquote time {
    margin-bottom: 0;
}
cite time {
    margin: 0;
}
blockquote {
    width: 100%;
    margin: 0;
}
.box + .box,
blockquote +  blockquote {
    margin-top: 2.4em;
}
blockquote > *:not(div):not(span):not(img):not(code):first-child {
    padding-top: .4em;
}
blockquote > *:not(div):not(span):not(img):not(code):last-child {
    padding-bottom: .52em;
}
cite {
    display: block;
    color: #666;
    font-style: normal;
}
cite:before {
    content: "\2014\00A0";
    color: #999;
}
.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.table.scale {
    height: 100%;
}
.table.center {
    width: auto;
    margin: auto;
}
.cel {
    display: table-cell;
    vertical-align: top;
}
.table.full .cel {
    padding-top: 7vh;
}
.table.center .cel {
    padding-bottom: 7vh;
    vertical-align: middle;
}
.content {
    display: block;
}
.content [id]:target:before {
    content: "";
    display: block;
    height: 6.5em;
    margin-top: -6.5em;
    pointer-events: none;
}
.space {
    padding: 6% 2.1em 3em;
    box-sizing: border-box;
}
.space.no-padding {
    padding-top: 0;
}
.video + .space {
    padding-top: 0;
    padding-bottom: 0;
}
.nowrap {
    white-space: nowrap;
}
.medium {
    max-width: 60.65em;
    padding-bottom: 3em;
    margin: auto;
    box-sizing: border-box;
}
.medium.comment {
    margin-right: 0;
    margin-left: 0;
}
.inherit {
    color: inherit;
}
.normal {
    font-weight: normal;
}

h1,
h2 {
    margin-top: .2em;
    margin-bottom: .2em;
    color: #d8940f;
    line-height: 1.07;
}
h1:first-line,
h2:first-line {
    font-size: 150%;
}
.wrapline {
    display: table-cell;
    border: 0 solid transparent;
    border-width: .2em 0;
}
.wrapline:after {
    content: "";
    display: table-cell;
    min-width: 10.1em;
    margin-top: 0;
    float: left;
}
h1 {
    font-size: 1.9em;
}
h2 {
    font-size: 1.24em;
}
h2 a[href] {
    color: inherit;
}
p {
    margin-top: .2em;
    margin-bottom: .2em;
}
p + p {
    margin-top: 1em;
}
br {
    word-spacing: 0;
}
form {
    display: inline-block;
}
form.subscribe {
        width: 24.2em;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
label {
    display: none;
    box-suppress: discard;
    padding-top: .2em;
    padding-bottom: .2em;
    color: #666;
    line-height: 1.2;
}
input,
select,
textarea,
button,
.button {
        width: 20em;
    max-width: 100%;
    padding: .66em .75em;
    font-size: 1em;
    font-family: inherit;
    line-height: 1.25;
    vertical-align: middle;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid transparent;
}
input,
select,
textarea {
    margin-top: .15em;
    margin-bottom: .15em;
    text-align: right;
    border-color: #9c9c9c;
    border-top-color: #ead17c;
    border-left-color: #ccc;
    outline: transparent solid 1px;
    box-shadow: 1px 1px .1em rgba(0,0,0,.2);
    transition: outline .15s;
}
input:focus,
select:focus,
textarea:focus {
    position: relative;
    border-color: #00d;
    outline-color: #4d90fe;
    box-shadow: 1px 1px 2em rgba(0,0,0,.15);
    box-shadow: 1px 1px .1em rgba(0,0,0,.2),
                1px 1px 2em rgba(0,0,0,.15);
}
select {
    color: #fff;
    background-color: #1e90ff;
    border-color: #1e90ff;
}
option {
    overflow: hidden;

    /* Match to parent element width (currently supported only on Firefox) */
    /* Chrome max-width issue https://code.google.com/p/chromium/issues/detail?id=82253 */
    min-width: 100%;
    max-width: 0;

    color: #333;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    background-color: #fff;
}
textarea {
    overflow-x: hidden;
    /* overflow-y: scroll; */ /* Causes placholder dislocation on Chrome */
    min-height: 4.95em;
    max-height: 13em;
    vertical-align: top;
    word-wrap: break-word;
    resize: none;
}
[type=checkbox][type=checkbox],
[type=radio][type=radio] {
    width: auto;
    padding: 0;
    margin: 0 .25em;
    border: 0;
    background-color: transparent;
    box-sizing: content-box;
    box-shadow: none;
}
.success {
    color: #160;
}
.error {
    color: #b00;
}
.error.error input,
.error.error select,
.error.error textarea {
    border-color: #be1100;
}
button,
.button {
    overflow: hidden;
    margin-top: .55em;
    margin-bottom: .55em;
    text-align: center;
    font-weight: bold;
    white-space: nowrap; /* Mobile button text wrapping fix for button */
    word-wrap: normal; /* "nowrap" compatibility for IE9 */
    text-overflow: ellipsis;
    text-shadow: 1px 0 0 #ff0;
    background-color: #ffe000;
    outline: transparent solid 2px;
    transition: outline .15s;
    cursor: pointer;
}
.button.button {
    display: inline-block;
        width: auto;
    min-width: 5.9em;
    padding: .56em .65em;
    color: inherit;
    text-decoration: none;
}
button:focus,
.button[tabindex]:focus {
    outline-color: #5b9dd9;
}
.subscribe button:before {
    content: "\203A";
    font-size: 300%;
    float: left;
    line-height: .45;
    font-family: monospace;
}
.items .button,
.box.card .button {
    transition: background-color .15s;
}
.items .button:hover,
.items .button:focus,
.box.card .button:hover,
.box.card .button:focus {
    background-color: #ffe90c;
    text-shadow: 1px 0 0 #fff;
}
[disabled][disabled][disabled][disabled] {
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    background-image: none;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    cursor: default;
}
.confirm {
    margin-bottom: .2em;
    font-size: 97%;
}
.subscribe .confirm {
    margin-top: .4em;
    margin-bottom: 0;
    text-align: right;
}
figure {
    margin: -5% .2em 1em;
}
iframe {
    width: 100%;
    border: 0;
}
.video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    clear: both;
}
.video iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #000;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.6em 3em;
    float: right;
    list-style: none;
    box-sizing: border-box;
}
.items li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 20em;
    min-height: 20em;
    margin: .5em;
    float: right;
}
.absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.items .head {
    flex: 1;
}
.items .action form,
.items .action a:not(.absolute) {
    position: relative;
    z-index: 1;
}
.items .action form + a:not(.absolute),
.items .action .button + a:not(.absolute) {
    margin-right: 1em;
}

.note {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    padding: .5em 2em;
    margin-top: -6%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
    text-shadow: 1px 0 0 #ff0;
    background-color: #ffdb00;
    box-sizing: border-box;
}
.comment {
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 2em;
}
.comment:empty {
    display: none;
    box-suppress: discard;
}
.comment iframe {
    margin-bottom: -5.8em;
}

.sheet {
    display: table;
    width: auto;
    word-break: normal;
    word-break: keep-all;
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
}
.row {
    display: table-row-group;
    border-top: 1px solid #eee;
}
.row:first-child {
    border-top: 0;
}
.column {
    display: table-cell;
    padding: .4em;
}
.label {
    font-weight: bold;
    white-space: nowrap;
}
.flow {
    float: left;
}

/* Product item page */
.card {
    display: table;
    width: 100%;
    min-height: 21em;
    padding: 0;
    box-shadow: 0 .8em 4em .2em rgba(0,0,0,.03);
}
.image {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    background-color: #f9f9f9;
}
.image:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -3em;
    width: 3em;
    background-image: linear-gradient(to right, #f9f9f9, rgba(249, 249, 249, 0));
    pointer-events: none;
}
.image img {
    max-width: initial;
    vertical-align: bottom;
    filter: saturate(1.5);
}
.card .content {
    width: 100%;
    min-width: 21em;
    padding: 2em;
    float: right;
    vertical-align: top;
    box-sizing: border-box;
}
.image + .content {
    padding-left: 1em;
}

[data-placholder]:before {
    content: attr(data-placholder);
}
.active[data-text][data-placholder]:before {
    text-decoration: line-through;
    color: #999;
    white-space: nowrap;
}
.active[data-text]:after {
    content: attr(data-text);
    margin: 0 .6em;
    white-space: nowrap;
}

.tag {
    display: inline-block;
    padding: .15em .7em;
    margin: .4em 0;
    font-size: 90%;
    background-color: #ededed;
    border-radius: 3px;
}

/* First page */
.headlines {
    display: table-row;
}
.headlines .absolute {
    z-index: 1;
}
.headlines .box:before,
.headlines .box:after {
    display: none;
}
.headlines blockquote + blockquote {
    margin-top: 0;
}
.headlines blockquote time {
    margin-top: .4em;
}
.headlines blockquote:first-child {
    margin-top: 1em;
}
.headlines blockquote:last-child {
    margin-bottom: 3em;
}
.headlines a:not([href]) {
    white-space: nowrap;
}

[hidden][hidden] {
    display: none;
}

@supports (display: flex) {
    .table.center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .table.center .cel.cel {
        display: block;
        max-width: 100%;
    }
}
@media (max-width: 56em) {
    .cel {
        display: block;
    }
    .table.center .cel {
        display: table-cell;
    }
    .content {
        width: auto;
    }
}
@media (max-width: 54em) {
    img {
        /* Prevent downsized pixelated scale */
        image-rendering: auto;
    }
    .image {
        display: block;
        text-align: center;
    }
    .image:before {
        display: none;
    }
    .medium .video {
        width: calc(100% + 4.2em);
        padding-top: calc(56.25% + 2.1em);
        margin: 0 calc(-2.1em) 1em;
    }
    .card .video {
        width: calc(100% + 2em);
        padding-top: calc(56.25% + 1em);
        margin: 0 calc(-1em) 1em;
    }
    .card {
        width: calc(100% + 2.2em);
        margin: 0 -1.1em;
        background-color: transparent;
        box-shadow: none;
    }
    .card .video {
        width: calc(100% + 2em);
        padding-top: calc(56.25% + 1em);
        margin: 0 calc(-1em) 1em;
    }
    .card .content {
        min-width: 0;
        padding-right: 2.8em;
        padding-left: 2.8em;
        background-color: #fff;
    }
    .image + .content {
        padding-left: 2em;
    }
    .sheet {
        margin: 1em -2.8em;
    }
    .row {
        display: block;
        padding: .6em 2.8em;
    }
    .column {
        display: table-row;
    }
    .items li {
        min-width: 16em;
        min-height: 16em;
    }
    .image img {
            width: auto;
        max-width: 100%;
        max-height: 50vh;
    }


    /* nav:before, */
    nav .active:after {
        display: none;
        box-suppress: discard;
    }
    nav {
        direction: ltr;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 72%;
        min-width: 9em;
        padding: 3.5em 0;
        text-align: right;
        transform: translateX(-100%);
        will-change: auto;
    }
    nav a {
        direction: rtl;
        display: block;
        border-top: 1px solid #eee;
    }
    nav a:first-child {
        border-top: 0;
    }
    nav .active.active {
        color: #fff;
        background-color: #1e90ff;
    }
    .external.external {
        padding-right: 1.4em;
        padding-left: 1.4em;
    }
    .external.external:hover,
    .external.external:focus {
        background-color: #f9f9f9;
    }
    .bar.bar {
        display: inline-block;
        position: absolute;
        left: 0;
        z-index: 3;
        min-width: 0;
            width: auto;
        height: 2.35em;
        padding: .466em;
        font-size: 106%;
        cursor: pointer;
        pointer-events: auto;
    }
    .bar span,
    .bar span:before,
    .bar span:after {
        display: block;
        width: 1.3em;
        height: .211em;
        background-color: #333;
        border-radius: .5em;
        box-shadow: 0 0 1px 1px rgba(255,255,255,.3);
        transition: width .1s, background-color 1ms, transform .35s cubic-bezier(.2,1,.4,1);
        will-change: transform;
    }
    .bar span {
        position: relative;
        margin: 1.07em .65em 1.07em .55em;
        transform: translateY(0); /* Firefox 34 Nightly width fix */
        transition-duration: .15s;
    }
    .bar span:before {
        content: "";
        position: absolute;
        right: 0;
        width: 1em;
        transform: translateY(-.42em);
    }
    .bar span:after {
        content: "";
        position: absolute;
        width: .4em;
        transform: translateY(.42em);
    }
    .bar-holder:checked ~ .bar span {
        background-color: transparent;
        box-shadow: none;
    }
    .bar-holder:checked ~ .bar span:before {
        width: 1.3em;
        transform: rotate3d(0,0,1,45deg);
    }
    .bar-holder:checked ~ .bar span:after {
        width: 1.3em;
        transform: rotate3d(0,0,1,-45deg);
    }
    .bar-holder:checked ~ nav {
        box-shadow: 0 0 4em rgba(51,51,51,.11),
                    0 0 43vw rgba(51,51,51,.3);
        transform: none;
        transition: transform .35s cubic-bezier(.2,1,.4,1);
    }
}
@media (max-width: 35em) {
    .wrapline {
        display: inherit;
    }
    .wrapline:after {
        display: none;
    }
    .box figure.flow {
        margin-left: -2.1em;
    }
    .items li {
        min-width: auto;
    }
}

@media (min-width:0\0) and (min-resolution: .001dpcm) { /* IE9 */
    label {
        display: table-cell;
    }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ */
    a {
        /* Remove IE10 :active gray background-color */
        background-color: transparent;
    }
    ::-ms-clear {
        /* Remove input x */
        display: none;
        box-suppress: discard;
    }
    :-ms-input-placeholder {
        direction: rtl;
        color: inherit;
    }
    .error :-ms-input-placeholder {
        color: #be1100;
    }
    [disabled]:-ms-input-placeholder {
        opacity: .54;
    }
}
@supports (-ms-ime-align:auto) and (color:unset) { /* Edge 13+ */
    ::-ms-clear {
        /* Remove input x */
        display: none;
        box-suppress: discard;
    }
    ::-webkit-input-placeholder {
        direction: rtl;
        color: #333;
    }
    .error ::-webkit-input-placeholder {
        color: #be1100;
    }
    :focus::-webkit-input-placeholder,
    [disabled]::-webkit-input-placeholder {
        opacity: .54;
    }
}
@media (-webkit-min-device-pixel-ratio: 0) {
    @supports (not (-ms-accelerator: true)) { /* Webkit */
        html {
            /* iOS 7 legacy http://barrow.io/overflow-scrolling */
            -webkit-overflow-scrolling: touch;
        }
        html {
            /* Old Webkit smooth text rendering issue */
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%; /* iOS fix */
        }
        a,
        input,
        button {
            /* Remove outline and highlight-color from click-able elements on Android and iOS */
            -webkit-tap-highlight-color: rgba(51,51,51,0);
        }
        a {
            /* iOS remove bubble dialog on tap-holding */
            -webkit-touch-callout: none;
        }
        input {
            -webkit-hyphens: none; /* Safari 9.1 wraps text to multiple lines */
        }
        ::-webkit-input-placeholder {
            direction: rtl;
            color: #333;
            text-overflow: ellipsis!important; /* Chrome 49 input:focus and Safari 9.1.1 input applies inline "text-overflow: clip" */
            white-space: nowrap; /* Safari 9.1 wraps text with "-" */
            -webkit-user-select: none;
                    user-select: none;
        }
        .error ::-webkit-input-placeholder {
            color: #be1100;
        }
        :-webkit-autofill {
            box-shadow: 1px 1px 0 rgba(0,0,0,.2), inset 0 0 0 2em #fff;
        }
        :focus::-webkit-input-placeholder,
        [disabled]::-webkit-input-placeholder {
            opacity: .54;
        }
        .error ::-webkit-input-placeholder  {
            color: #be1100;
        }
    }
}
@-moz-document url-prefix() { /* Firefox */
    label:active {
        background-color: transparent;
    }
    input,
    button {
        background-image: none;
        border-radius: 0;
    }
    ::-moz-placeholder {
        direction: rtl;
        color: #333;
    }
    .error ::-moz-placeholder {
        color: #be1100;
    }
    [placeholder]:not(:focus)::-moz-placeholder {
        opacity: 1;
    }
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}
