/* Layout https://jsbin.com/xuxoqi/edit */
@viewport {
    width: device-width;
}

html,
body {
    height: 100%;
}
html,
header,
img,
label,
iframe,
button,
.button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    min-width: 21em;
    color: #333;
    font: 62.45% / 1.5 sans-serif;
    text-rendering: optimizeSpeed;
    background-color: #f9f9f9;
    touch-action: manipulation;
    cursor: default;
}
body,
dd,
dl,
iframe {
    margin: 0;
}
body {
    font-size: 1.7em;
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */
    -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
a,
img {
    -webkit-user-drag: none;
            user-drag: none;
}
a {
    color: #00d;
    text-decoration: none;
    -webkit-box-decoration-break: clone; /* Chrome legacy, demo http://jsbin.com/xojoro/quiet */
            box-decoration-break: clone;
}
a:hover,
a:focus {
    color: #02a;
    text-decoration: underline;
}
img {
    /* width: auto; */
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: nearest-neighbor; /* IE8-IE11 legacy */
    image-rendering: -webkit-optimize-contrast; /* Webkit will drop this property https://bugs.webkit.org/show_bug.cgi?id=97991#c5 */
    image-rendering: -moz-crisp-edges; /* Firefox legacy */
    image-rendering:      crisp-edges; /* Safari legacy */
    image-rendering: pixelated;
    -webkit-user-drag: none;
            user-drag: none;
}
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    /* min-width: 32em; */
    padding-right: .5em;
    padding-left: .5em;
    font-weight: bold;
    font-size: 106%;
    white-space: nowrap;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}
header a {
    display: inline-block;
}
header .wrapper {
    min-width: 14.779em;
    max-width: 80em;
    margin: auto;
}
nav {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #fff;
}
nav:before {
    content: "";
    position: absolute;
    top: 0;
    right: -3em;
    bottom: 0;
    width: 3em;
    background-image: linear-gradient(to right, #fff, rgba(255,255,255,0));
}
nav a {
    position: relative;
    padding: 1em 1.4em;
    color: inherit;
}
nav a:hover,
nav a:focus {
    color: inherit;
    text-decoration: none;
    background-color: #f9f9f9;
}
nav .active.active {
    color: #d8940f;
}
nav .active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
    height: .2em;
    background-color: #d8940f;
}
.logo {
    padding: 0 1.4em .6em;
    float: right;
}
.logo:hover,
.logo:active {
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
}
.logo img {
    margin-top: .3em;
}
main {
    display: block; /* Compatibiliy for IE11, old Safari 5.1.7 */
        width: 100%;
    min-width: 12.6em;
    max-width: 84.78em;
    height: 100%;
    padding-top: 3.7em;
    margin: auto;
    box-sizing: border-box;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.table.scale {
    height: 100%;
}
.table.center {
    width: auto;
    margin: auto;
}
.cel {
    display: table-cell;
    vertical-align: top;
}
.table.full .cel {
    padding-top: 7vh;
}
.table.center .cel {
    padding: 7vh 0 25vh;
    vertical-align: middle;
}
.cell-center {
    display: table-cell;
    min-width: 13em;
    vertical-align: middle;
}
.content {
    overflow: hidden;
    display: block;
}
.space {
    padding: 6% 2.1em;
}
.nowrap {
    white-space: nowrap;
}
.medium {
    max-width: 60.65em;
    padding-bottom: 2em;
    margin: auto;
    box-sizing: border-box;
}

h1,
h2 {
    margin-top: .2em;
    margin-bottom: .2em;
    color: #d8940f;
    /* font-weight: normal; */
    line-height: 1.07;
}
h1:first-line,
h2:first-line {
    font-size: 150%;
}
h1 {
    font-size: 1.9em;
}
h2 {
    font-size: 1.24em;
}
p {
    margin-top: .2em;
    margin-bottom: .2em;
}
p + p {
    margin-top: 1em;
}
br {
    word-spacing: 0;
}
form {
    display: inline-block;
}
form.signup {
        width: 20em;
    max-width: 100%;
    text-align: center;
}
label {
    display: none;
    box-suppress: discard;
    padding-top: .2em;
    padding-bottom: .2em;
    color: #666;
    line-height: 1.2;
}
input,
select,
textarea,
button,
.button {
        width: 20em;
    max-width: 100%;
    padding: .66em .75em;
    font-size: 1em;
    font-family: inherit;
    line-height: 1.25;
    vertical-align: middle;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid transparent;
    /* outline: none; */
    box-sizing: border-box;
}
input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    cursor: default;
}
input,
select,
textarea {
    margin-top: .15em;
    margin-bottom: .15em;
    text-align: right;
    border-color: #9c9c9c;
    border-top-color: #ead17c;
    border-left-color: #ccc;
    box-shadow: 1px 1px .1em rgba(0,0,0,.2);
}
input:focus,
select:focus,
textarea:focus {
    position: relative;
    border-color: #00d;
    box-shadow: 1px 1px 2em rgba(0,0,0,.15);
    box-shadow: 1px 1px .1em rgba(0,0,0,.2),
                1px 1px 2em rgba(0,0,0,.15);
}
textarea {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 4.95em;
    max-height: 13em;
    vertical-align: top;
    word-wrap: break-word;
    resize: none;
}
[type=checkbox],
[type=radio] {
    width: auto;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}
.success {
    color: #160;
}
.error {
    color: #b00;
}
.error.error input {
    border-color: #be1100;
}
button,
.button {
    overflow: hidden;
    margin-top: .55em;
    margin-bottom: .55em;
    text-align: center;
    font-weight: bold;
    white-space: nowrap; /* Mobile button text wrapping fix for button */
    word-wrap: normal; /* "nowrap" compatibility for IE9 */
    text-overflow: ellipsis;
    text-shadow: 1px 0 0 #ff0;
    background-color: #ffdb00;
    cursor: pointer;
}
.button.button {
    display: inline-block;
        width: auto;
    min-width: 5.9em;
    padding: .56em .65em;
    color: inherit;
    text-decoration: none;
}
button:active {
    border-color: #9c9c9c;
}
.signup button:before {
    content: "\203A";
    font-size: 300%;
    float: left;
    line-height: .45;
    font-family: monospace;
}
figure {
    margin: -5% .2em 1em;
}
figcaption {
    padding-bottom: 7%;
}
iframe {
    width: 100%;
    border: 0;
}
.video {
    position: relative;
    width: 100%;
    padding-top: 2.15em;
    padding-bottom: 53.15%;
    clear: both;
}
.video iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #000;
}

.items {
    width: 100%;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}
.items li {
    position: relative;
        width: 100%;
    max-width: 16em;
    height: 17em;
    padding: 2em;
    margin: .5em;
    float: right;
    background-color: #fff;
}
.items li:after,
.items li:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    box-shadow: 0 15px 10px rgba(51,51,51,.3);
}
.items li:before {
    left: 8px;
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
}
.items li:after {
    right: 8px;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
}
.items h3 {
    position: absolute;
    bottom: 4.3em;
    right: 2em;
}
.items .action {
    position: absolute;
    bottom: 1.95em;
    right: 2em;
    left: 2em;
}
.items .action form + a,
.items .action .button + a {
    margin-right: 1em;
}

.note {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    padding: .5em 2em;
    margin-top: -6%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
    text-shadow: 1px 0 0 #ff0;
    background-color: #ffdb00;
    box-sizing: border-box;
}
.comment {
    margin-top: 3em;
}

@media (max-width: 56em) {
    .cel {
        display: block;
    }
    .table.center .cel {
        display: table-cell;
    }
    .content {
        width: auto;
    }
}
@media (max-width: 36em) {
    .cell-center {
        display: block;
    }
}

@media (min-width:0\0) and (min-resolution: .001dpcm) { /* IE9 */
    label {
        display: table-cell;
    }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ */
    a {
        /* Remove IE10 :active gray background-color */
        background-color: transparent;
    }
    ::-ms-clear {
        /* Remove input x */
        display: none;
        box-suppress: discard;
    }
    :-ms-input-placeholder {
        direction: rtl;
        color: inherit;
    }
    .error :-ms-input-placeholder {
        color: #be1100;
    }
    [disabled]:-ms-input-placeholder {
        opacity: .54;
    }
}
@supports (-ms-accelerator: true) { /* Edge */
    ::-ms-clear {
        /* Remove input x */
        display: none;
        box-suppress: discard;
    }
    ::-webkit-input-placeholder {
        direction: rtl;
        color: #333;
    }
    .error ::-webkit-input-placeholder {
        color: #be1100;
    }
    :focus::-webkit-input-placeholder,
    [disabled]::-webkit-input-placeholder {
        opacity: .54;
    }
}
@media (-webkit-min-device-pixel-ratio: 0) {
    @supports (not (-ms-accelerator: true)) { /* Webkit */
        html {
            /* iOS 7 legacy http://barrow.io/overflow-scrolling */
            -webkit-overflow-scrolling: touch;
        }
        html {
            /* Old Webkit smooth text rendering issue */
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%; /* iOS fix */
        }
        a,
        input,
        button {
            /* Remove outline and highlight-color from click-able elements on Android and iOS */
            -webkit-tap-highlight-color: rgba(51,51,51,0);
        }
        a {
            /* iOS remove bubble dialog on tap-holding */
            -webkit-touch-callout: none;
        }
        input {
            -webkit-hyphens: none; /* Safari 9.1 wraps text to multiple lines */
        }
        ::-webkit-input-placeholder {
            direction: rtl;
            color: #333;
            text-overflow: ellipsis!important; /* Chrome 49 input:focus and Safari 9.1.1 input applies inline "text-overflow: clip" */
            white-space: nowrap; /* Safari 9.1 wraps text with "-" */
            -webkit-user-select: none;
                    user-select: none;
        }
        .error ::-webkit-input-placeholder {
            color: #be1100;
        }
        :-webkit-autofill {
            box-shadow: 1px 1px 0 rgba(0,0,0,.2), inset 0 0 0 2em #fff;
        }
        :focus::-webkit-input-placeholder,
        [disabled]::-webkit-input-placeholder {
            opacity: .54;
        }
        .error ::-webkit-input-placeholder  {
            color: #be1100;
        }
    }
}
@-moz-document url-prefix() { /* Firefox */
    label:active {
        background-color: transparent;
    }
    input,
    button {
        background-image: none;
        border-radius: 0;
    }
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    ::-moz-placeholder {
        direction: rtl;
        color: #333;
    }
    .error ::-moz-placeholder {
        color: #be1100;
    }
    [placeholder]:not(:focus)::-moz-placeholder {
        opacity: 1;
    }
}
