/* Layout https://jsbin.com/xuxoqi/edit */
@viewport {
    width: device-width;
}
:root {
    text-decoration-skip-ink: none; /* Disable skipping descenders https://www.chromestatus.com/features/5631679087509504 */
}
html,
body {
    height: 100%;
}
html,
header,
img,
label,
iframe,
button,
.button,
.nav,
.subnav,
[disabled],
.unselectable,
[unselectable] {
    -webkit-user-select: none; /* Safari legacy */
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    min-width: 21em;
    color: #333;
    font: 62.45% / 1.5 sans-serif;
    text-rendering: optimizeSpeed;
    background-color: #f3f4f7;
    touch-action: manipulation;
    cursor: default;
    caret-color: currentcolor;
}
body,
dd,
dl,
iframe {
    margin: 0;
}
body {
    font-size: 1.7em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
    -webkit-hyphens: auto; /* Safari legacy */
        -ms-hyphens: auto;
            hyphens: auto;
}
a,
img,
.unselectable,
[unselectable] {
    -webkit-user-drag: none;
            user-drag: none;
}
a {
    color: #00d;
    text-decoration: none;
    -webkit-box-decoration-break: clone; /* Chrome and Webkit legacy, demo http://jsbin.com/xojoro/quiet */
            box-decoration-break: clone;
    outline: transparent solid 2px;
    transition: outline .15s;
}
[tabindex="-1"] {
    outline: 0;
    transition: none;
}
a:hover,
a:focus {
    color: #02a;
    text-decoration: underline;
}
a.absolute:hover,
a.absolute:focus,
a:not(.absolute):hover ~ a.absolute,
form:hover ~ a.absolute {
    outline-color: #1e90ff;
    outline-style: solid;
}
a[onclick] {
    cursor: pointer;
}
p a:not([class]) {
    /* iOS fix link text wrapping */
    word-break: break-word;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ legacy */
    image-rendering: -webkit-optimize-contrast; /* Webkit will drop this property https://bugs.webkit.org/show_bug.cgi?id=97991#c5 */
    image-rendering: crisp-edges; /* Firefox, Safari legacy */
    image-rendering: pixelated; /* Chrome; Eaquals non standard "optimizeSpeed" */
}
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100vw;
    padding-right: .5em;
    padding-left: .5em;
    font-weight: bold;
    font-size: 106%;
    white-space: nowrap;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 .8em 3em -1.7em #484c57;
}
header a {
    display: block;
    outline: 0; /* Remove Firefox outline flicker on page load */
}
header .wrapper,
footer .wrapper {
    min-width: 14.779em;
    max-width: 80em;
    margin: auto;
}
footer {
    overflow: hidden;
    padding: 0 2.4em;
    margin-top: -2.5em;
    font-size: 106%;
    line-height: 2.2;
    text-align: left;
    text-overflow: ellipsis;
    border-top: 1px solid #eee;
}
.stretch footer {
    border-top-color: transparent;
}
footer .wrapper a {
    color: #666;
    font-size: 96%;
}
.stretch.stretch footer .wrapper a {
    color: #fff;
}
footer a + a,
.copyright {
    margin-right: 1.6em;
}
.copyright {
    display: inline-block;
    font-size: 91%;
    color: #777;
}
.nav,
.subnav {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    vertical-align: top;
    background-color: #fff;
}
.nav li {
    position: relative;
    float: right;
}
.nav a {
    padding: 1em 1.4em;
    color: inherit;
}
.nav a:not([rel=noopener]):hover,
.nav a:not([rel=noopener]):focus,
.bar:hover,
.bar:focus {
    color: inherit;
    text-decoration: none;
    background-color: #f3f4f7;
}
.nav .active.active > a {
    color: #f58e84;
}
.nav .active:after {
    content: "";
    display: block;
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: -1px;
    height: .2em;
    background-color: #f58e84;
}
.nav [data-ribbon]:before {
    content: "";
    top: .3em;
    left: -2.6em;
    width: 4em;
    height: 1.1em;
    transform: rotate(-33deg);
}
.subnav-container > a,
.subnav-container.active:after {
    display: none;
}
.external a {
    padding: 1.2em .35em;
    -webkit-filter: grayscale(100%); /* Samsung Internet 7.2 legacy */
            filter: grayscale(100%);
}
.external a:hover,
.external a:active {
    -webkit-filter: none; /* Samsung Internet 7.2 legacy */
            filter: none;
}
[class*=icon-]:not(svg) {
    height: 20px;
    background-image: url(/assets/sprites.png);
    background-repeat: no-repeat;
}
.icon-youtube {
    width: 39px;
}
.icon-facebook {
    width: 20px;
    background-position: -40px 0;
}
a.logo {
    float: right;
    padding-left: .6em;
    color: #f58e84;
    text-decoration: none;
}
.logo:hover,
.logo:active {
    -webkit-filter: grayscale(70%); /* Samsung Internet 7.2 legacy */
            filter: grayscale(70%);
}
.logo img {
    min-height: 47px;
    margin: .45em;
    margin-left: .5em;
    vertical-align: middle;
}
.logo div {
    display: inline-block;
    line-height: .9;
    vertical-align: middle;
}
.logo .slogan {
    display: block;
    margin-top: .1em;
    color: #8d5645;
    font-size: 103%;
}
.logo .owner {
    display: block;
    color: #ed968d;
    font-size: 90%;
}
main {
    display: block; /* IE11 legacy */
        width: 100%;
    min-width: 12.6em;
    max-width: 84.78em;
    min-height: 100%;
    padding-top: 3.7em;
    padding-bottom: 2.6em;
    margin: auto;
    box-sizing: border-box;
    -webkit-user-select: text; /* Safari legacy */
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.list {
    padding: 0;
    margin: 0 0 3em;
    list-style: none;
}
.items li,
.box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 2.1em;
    box-sizing: border-box;
    box-shadow: 0 .8em 3em -1.7em rgba(0,0,0,.4);
}
.video + .box {
    margin-bottom: 3em;
}
.items.items li,
.box.box {
    background-color: #fff;
}
.box.no-padding {
    padding: 0;
}
article.box li {
    margin-top: .5em;
    margin-bottom: .5em;
}
.box figure,
.box .figure {
    max-width: calc(100% + 4.2em);
    min-height: 5em;
    margin: -2.1em -2.1em 1.2em;
}
.box:not(article) figure,
article.box figure img {
    background-color: #eee;
}
.box .item {
    width: 100%;
    padding-top: 2em;
    float: left;
    border-top: 1px solid #eee;
}
.box .item figure:not(.last) {
    margin-top: 0;
    margin-bottom: 1em;
}
.box .item figure.last {
    margin-bottom: -2.1em;
}
.box .item figure ~ p {
    margin-bottom: 1em;
}
.box.card figure {
    max-width: 100%;
    margin: 0;
    background-color: #f3f4f7;
}
.box figure.flow {
    margin-left: 2.1em;
    margin-bottom: -2.1em;
    float: right;
}
.box:not(article) figure:not(.play) img {
    margin-bottom: .6em;
}
blockquote.box.box figure img {
    margin-bottom: 0;
}
.box figure.flow + h2 {
    padding-top: 3.2em;
}
.no-padding .box figure.flow {
    margin-bottom: .5em;
}
.box figure:not(.auto-width) img {
    width: 100%;
}
.box.card figure img {
    display: block;
    margin: auto;
    max-height: 540px;
    object-fit: cover;
    object-position: top;
}
.box figcaption {
    margin-right: 2.1em;
    margin-left: 2.1em;
    color: #666;
    clear: both;
}

time {
    display: inline-block;
    margin: 1.2em 0 1em;
    color: #aaa;
    font-size: 90%;
}
blockquote time {
    margin-bottom: 0;
}
cite time {
    margin: 0;
}
blockquote {
    width: 100%;
    margin: 0;
}
.box + .box,
blockquote +  blockquote {
    margin-top: 2.4em;
}
blockquote > *:not(figure.flow):not(div):not(span):not(img):not(code):first-child {
    padding-top: .4em;
}
blockquote > *:not(figure.flow):not(div):not(span):not(img):not(code):last-child {
    padding-bottom: .52em;
}
cite {
    display: block;
    color: #666;
    font-style: normal;
}
cite:before {
    content: "\2014\00A0";
    color: #999;
}
.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.table.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: auto;
}
.table.scale,
main .table.center {
    min-height: calc(100vh - 6.3em);
}
.cel {
    display: table-cell;
    vertical-align: top;
}
.table.full .cel {
    padding-top: 7vh;
}
.table.center .cel {
    padding-bottom: 5vh;
    vertical-align: middle;
}
.table.center .cel.cel {
    display: block;
    max-width: 100%;
    padding-right: 1.6em;
    padding-left: 1.6em;
    box-sizing: border-box;
}
.content {
    display: block;
}
.content [id]:target:before {
    content: "";
    display: block;
    height: 6.5em;
    margin-top: -6.5em;
    pointer-events: none;
}
.space {
    padding: 2em 2.1em 3em;
    box-sizing: border-box;
}
.no-padding .space,
.no-padding.space {
    padding-top: 0;
}
.video + .space {
    padding-top: 0;
    padding-bottom: 0;
}
.nowrap {
    white-space: nowrap;
}
.medium {
    max-width: 60.65em;
    padding-bottom: 3em;
    margin: auto;
    box-sizing: border-box;
}
.medium.comment {
    margin-right: 0;
    margin-left: 0;
}
.inherit {
    color: inherit;
}
.normal {
    font-weight: normal;
}

h1,
h2 {
    margin-top: .2em;
    margin-bottom: .4em;
    color: #f58e84;
    line-height: 1;
}
h1:first-line,
h2:first-line {
    font-size: 134%;
}
h3 {
    color: #569e9b;
}
.wrapline,
.box .item figure.flow + p {
    display: table-cell;
    border: 0 solid transparent;
    border-width: .2em 0;
}
.wrapline:after,
.box .item figure.flow + p:after {
    content: "";
    display: table-cell;
    min-width: 10.1em;
    margin-top: 0;
    float: left;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.24em;
}
h2 a[href] {
    color: inherit;
}
p {
    margin-top: .2em;
    margin-bottom: .2em;
}
p + p {
    margin-top: 1em;
}
br {
    word-spacing: 0;
}
form {
    display: inline-block;
    width: 100%;
}
form.subscribe {
        width: 24.2em;
    max-width: 100%;
    padding-bottom: 6%;
    margin: auto;
    text-align: right;
}

.subscribe h1 {
    margin-bottom: 0;
}
.subscribe p {
    margin-top: 0;
    margin-bottom: .9em;
    font-weight: bold;
    color: #777;
}
.subscribe input {
    border-color: #777;
}
.subscribe button {
    margin-top: .35em;
    text-align: right;
}
.subscribe .confirm {
    color: #aaa;
    margin-top: .5em;
}

label {
    display: none;
    padding-top: .2em;
    padding-bottom: .2em;
    color: #666;
    line-height: 1.2;
}
input:not([type=range]),
select,
textarea,
button:not([data-plyr]),
.button {
        width: 100%;
    min-width: 9em;
    max-width: 20em;
    height: 2.674em; /* Mac Safari/Chrome <select> issue having same height as <input> */
    padding: .66em .75em;
    font-size: 1em;
    font-family: inherit;
    line-height: 1.25;
    vertical-align: middle;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid transparent;
}
input:not([type=range]),
select,
textarea {
    margin-top: .15em;
    margin-bottom: .15em;
    text-align: right;
    border-color: #999;
    border-top-color: #ccc;
    border-left-color: #ccc;
    outline: transparent solid 1px;
    box-shadow: 1px 1px .1em rgba(0,0,0,.2);
    transition: outline .15s;
}
input:not([type=range]):focus,
select:focus,
textarea:focus {
    position: relative;
    border-color: #00d;
    outline-color: #1e90ff;
    box-shadow: 1px 1px .1em rgba(0,0,0,.2),
                1px 1px 2em rgba(0,0,0,.15);
}
select {
    color: #fff;
    background-color: #1e90ff;
    border-color: #1e90ff;
    cursor: pointer;
}
optgroup {
    color: initial;
    background-color: #eee;
}
option {
    overflow: hidden;

    /* Match to parent element width (currently supported only on Firefox) */
    /* Chrome max-width issue https://bugs.chromium.org/p/chromium/issues/detail?id=82253 */
    min-width: 100%;
    max-width: 0;

    color: #333;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    background-color: #fff;
}
textarea {
    overflow-x: hidden;
    /* overflow-y: scroll; */ /* Causes placeholder dislocation on Chrome */
        height: auto;
    min-height: 4.95em;
    max-height: 13em;
    vertical-align: top;
    word-wrap: break-word;
    resize: none;
}
[type=checkbox][type=checkbox],
[type=radio][type=radio] {
        width: auto;
    min-width: inherit;
    max-width: inherit;
    height: auto;
    padding: 0;
    margin: 0 .25em;
    border: 0;
    background-color: transparent;
    box-sizing: content-box;
    box-shadow: none;
}
::selection {
    color: initial;
    text-shadow: none;
    background-color: rgba(255,255,60,.3);
}
::placeholder {
    direction: rtl;
    color: #333;
    text-overflow: ellipsis!important; /* Chrome and Safari 9.1.1 input applies inline CSS "text-overflow: clip" */
    user-select: none;
}
[placeholder]:focus::placeholder {
    opacity: .54;
}
.error ::placeholder  {
    color: #c00;
}
.error {
    color: #b00;
}
.error.error input,
.error.error select,
.error.error textarea {
    border-color: #c00;
}
button:not([data-plyr]),
.button {
    overflow: hidden;
    margin-top: .55em;
    margin-bottom: .55em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    white-space: nowrap; /* Mobile button text wrapping fix for button */
    text-overflow: ellipsis;
    background-color: #569e9b;
    outline: transparent solid 2px;
    transition: outline .15s,
                background-color .15s;
    cursor: pointer;
}
.button.button {
    display: inline-block;
        width: auto;
    min-width: 5.9em;
    padding: .56em .65em;
    color: #fff;
    text-decoration: none;
}
button:not([data-plyr]):focus,
.button[tabindex]:focus {
    outline-color: #5b9dd9;
}
button:not([data-plyr]):hover,
button:not([data-plyr]):focus,
.button:hover,
.button:focus {
    background-color: #438784;
}
.subscribe button:before,
button.next:before {
    content: "\203A";
    font-size: 300%;
    float: left;
    line-height: .45;
    font-family: monospace;
}
.buttons-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    margin-top: auto;
}
[disabled][disabled][disabled][disabled] {
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    background-image: none;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    cursor: default;
}
.confirm {
    margin-bottom: .2em;
    font-size: 97%;
}
.subscribe .confirm {
    margin-top: .4em;
    margin-bottom: 0;
    text-align: right;
}
figure {
    margin: -5% .2em 1em;
}
iframe {
    width: 100%;
    border: 0;
}
.video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    clear: both;
}
.video > video,
.video .plyr,
.video iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #000;
}

/* YouTube play button */
.play {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.play ~ .absolute {
    z-index: 1;
}
.play:before,
.play:after {
    content: "";
    position: absolute;
    z-index: 1;
}
.play:before {
    top: calc(50% - 1.3em);
    left: calc(50% - 1.9em);
    width: 3.9em;
    height: 2em;
    padding-top: .7em;
    font-size: 1em;
    background-color: #e42b26;
    border-radius: .6em;
}
.play:after {
    top: calc(50% - .56em);
    left: calc(50% - .45em);
    border: solid 0 transparent;
    border-width: .6em 0 .6em 1.1em;
    border-left-color: #fff;
}
.play.video:after {
    left: calc(50% - .35em);
}
.play iframe {
    opacity: 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.6em 3em;
    float: right;
    list-style: none;
    box-sizing: border-box;
}
.items.flexible {
    padding: 0;
    margin: 1em auto;
}
.items li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 20em;
    min-height: 20em;
    margin: .5em;
    float: right;
}
.items.flexible li {
    min-height: 0;
    padding: .8em 1.4em;
    margin: .2em;
}
.items.flexible h3 {
    margin: 0;
}
.absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.items .head {
    flex: 1;
}
.items .action form,
.items .action a:not(.absolute) {
    position: relative;
    z-index: 1;
}
.items .action form + a:not(.absolute),
.items .action .button + a:not(.absolute) {
    margin-right: 1em;
}

.note {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    padding: .5em 2em;
    margin-top: -6%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
    text-shadow: 1px 0 0 #ff0;
    background-color: #ffdb00;
    box-sizing: border-box;
}
.comment {
    overflow: hidden;
    width: 100%;
    padding-right: 1.6em;
    padding-left: 1.6em;
    margin-top: 3em;
    box-sizing: border-box;
}

.sheet,
.sheet.sheet-fixed {
    display: table;
    width: 100%;
    margin: 0;
    list-style: none;
    word-break: normal;
    word-break: keep-all;
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
}
.sheet ul {
    padding: .2em 1em;
    padding-left: 0;
    list-style-type: disc;
}
.sheet li {
    margin: .3em 0;
}
.row,
.sheet-fixed .row {
    display: table-row-group;
    table-layout: fixed;
    border-top: 1px solid #eee;
}
.row:first-child {
    border-top: 0;
}
.column,
.sheet-fixed .column {
    display: table-cell;
    padding: .4em;
    white-space: normal;
}
.label {
    font-weight: bold;
    white-space: nowrap;
}
.column.label {
    width: 1px;
}
.flow {
    float: left;
}

/* Product pages */
.card {
    display: table;
    width: 100%;
    min-height: 21em;
    padding: 0;
}
.image {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    background-color: #f3f4f7;
}
.image:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -3em;
    width: 3em;
    background-image: linear-gradient(to right, #f3f4f7, rgba(243,244,247,0));
    pointer-events: none;
}
.image img {
    max-width: initial;
    vertical-align: bottom;
    -webkit-filter: saturate(1.5); /* Samsung Internet 7.2 legacy */
            filter: saturate(1.5);
}
.card .content {
    width: 100%;
    min-width: 21em;
    padding: 2em;
    float: right;
    vertical-align: top;
    box-sizing: border-box;
}
.card .content .figure {
    max-width: calc(100% + 4em);
    margin-right: -2em;
    margin-left: -2em;
}
.image + .content {
    padding-left: 1em;
}
.sticky-footer {
    position: sticky;
    bottom: 0;
    padding: .2em 0;
    margin: .5em 0;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 0 1.4em .7em rgba(255,255,255,.8);
}
.sticky-footer .button {
    margin-top: 0;
}
.recommendations {
    padding: 2em;
    margin: 1em -2em;
    background-color: #eee;
}
.recommendation {
    position: relative;
    padding: 1em 1.2em;
    margin: .6em 0;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 7.5px;
    border-top-right-radius: 0;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
}
.recommendation:before {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    border-style: solid;
    border-width: 16px 12px 0 0;
    border-color: #fff rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
    -webkit-filter: drop-shadow(0 1px .5px rgba(0,0,0,.13)); /* Samsung Internet 7.2 legacy */
            filter: drop-shadow(0 1px .5px rgba(0,0,0,.13));
}
.recommendation p,
.recommendation .field {
    font-size: 80%;
}
.recommendation .profile {
    display: table;
    table-layout: fixed;
    line-height: 1;
}
.recommendation img {
    width: 3em;
    height: 3em;
    margin-left: .4em;
    vertical-align: middle;
    image-rendering: auto;
    object-fit: fill;
    border-radius: 50%;
}
.recommendation .details {
    display: table-cell;
    vertical-align: middle;
}
.recommendation .name {
    font-weight: bold;
}

[data-ribbon] {
    overflow: hidden;
    position: relative;
}
[data-ribbon]:before {
    content: attr(data-ribbon);
    position: absolute;
    z-index: 1;
    top: 1.6em;
    left: -2.2em;
    padding-right: 2.1em;
    padding-left: 2.1em;
    color: #fff;
    font-weight: bold;
    font-size: 107%;
    line-height: 2.1;
    text-align: center;
    text-indent: .25em;
    letter-spacing: .03em;
    word-spacing: .05em;
    transform: rotate(-45deg);
    background-color: #eb3434;
    pointer-events: none;
}

[data-placholder]:before {
    content: attr(data-placholder);
}
.active[data-text][data-placholder]:before {
    text-decoration: line-through;
    color: #999;
    white-space: nowrap;
}
.active[data-text]:after {
    content: attr(data-text);
    margin: 0 .6em;
    white-space: nowrap;
}

.tag {
    display: inline-block;
    padding: .15em .7em;
    margin: .4em 0;
    font-size: 90%;
    background-color: #eee;
    border-radius: 3px;
}

.grid figure {
    display: none;
}
.grid .more {
    position: relative;
    z-index: 1;
}
.grid .box.box {
    padding-bottom: 3.4em;
}
.grid .box h2 {
    margin-bottom: .8em;
}
.grid .box time {
    margin-top: .4em;
}
.grid .box .footer {
    position: absolute;
    right: 2.1em;
    left: 2.1em;
    bottom: 1.3em;
    white-space: nowrap;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-gap: 1.2em; /* Safari legacy */
             gap: 1.2em;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        margin-right: auto;
        margin-left: auto;
    }
    .grid .box + .box {
        margin-top: 0;
    }
    .grid figure {
        overflow: hidden;
        display: block;
        position: relative;
        height: 18em;
    }
    .grid img {
            width: inherit;
        max-width: inherit;
        min-height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    .grid .clamp {
        /* Wrap text max 2 lines */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .grid .span {
        grid-column: 1 / -1;
    }

    @media (max-width: 20em) {
        .grid {
            grid-template-columns: initial;
        }
    }
}

.product-notice {
    padding: 1em 2.4em;
    margin: 1em -2em 2em;
    background-color: #fff7d7;
}

[hidden][hidden] {
    display: none;
}
.invisible {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
    width: 1px;
    pointer-events: none;
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ */
    ::-ms-clear {
        /* Remove input x */
        display: none;
    }
    :-ms-input-placeholder {
        direction: rtl;
        color: inherit;
    }
    .error :-ms-input-placeholder {
        color: #c00;
    }
    [disabled]:-ms-input-placeholder {
        opacity: .54;
    }
}
@media (-webkit-min-device-pixel-ratio: 0) {
    html {
        /* iOS 10.3.1 ignores z-index when used -webkit-overflow-scrolling
           https://github.com/scottjehl/Device-Bugs/issues/14 */
        -webkit-overflow-scrolling: touch;
    }
    a,
    label,
    input,
    select,
    textarea,
    button,
    [onclick],
    [tabindex] {
        /* Remove outline and highlight-color from click-able elements on Android and iOS */
        -webkit-tap-highlight-color: rgba(51,51,51,0);
    }
    ::-webkit-input-placeholder {
        direction: rtl;
        color: #333;
    }
    [placeholder]:focus::-webkit-input-placeholder,
    [disabled]::-webkit-input-placeholder {
        opacity: .54;
    }
    .error ::-webkit-input-placeholder {
        color: #c00;
    }
    video::-webkit-media-controls {
        width: 100%;
    }

    @supports (-ms-ime-align: auto) and (color: unset) { /* Edge 13+ */
        ::-ms-clear {
            /* Remove input x */
            display: none;
        }
    }
    @supports (not (-ms-accelerator: true)) and (not (-ms-ime-align: auto)) { /* Webkit, Safari 9+ */
        html {
            /* Old Webkit smooth text rendering issue */
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%; /* iOS fix */
        }
        a {
            /* iOS remove bubble dialog on tap-holding */
            -webkit-touch-callout: none;
        }
        input {
            -webkit-hyphens: none; /* Safari 9.1 wraps text to multiple lines */
        }
        :-webkit-autofill {
            box-shadow: 1px 1px 0 rgba(0,0,0,.2),
                        inset 0 0 0 2em #fff;
        }
    }
    @supports (-webkit-backdrop-filter: blur()) { /* Safari 9+ */
        /* RTL in-field icons drawn in wrong side https://bugs.webkit.org/show_bug.cgi?id=64108 */
        input::placeholder,
        input::-webkit-textfield-decoration-container {
            direction: rtl;
        }
        input::-webkit-contacts-auto-fill-button {
            position: absolute;
            left: .4em;
            margin-top: .2em;
        }
    }
}
@supports (-moz-appearance: meterbar) { /* Firefox */
    label:active {
        background-color: transparent;
    }
    input,
    button {
        background-image: none;
        border-radius: 0;
    }
    [placeholder]:not(:focus)::placeholder {
        opacity: 1;
    }
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

@media (max-width: 86em) {
    .subnav-container:hover {
        color: inherit;
        text-decoration: none;
        background-color: #f3f4f7;
    }
    .subnav-container:hover,
    .subnav-container:not(:hover) > a:focus {
        box-shadow: 0 2em 4em rgba(36,45,54,.2);
    }
    .subnav {
        display: none;
        position: absolute;
        z-index: 1;
        right: 0;
        text-align: initial;
        background-color: #fff;
        box-shadow: 0 3em 6em rgba(36,45,54,.5);
    }
    .subnav-container > a,
    .subnav-container.active:after {
        display: block;
    }
    .subnav-container .active:after {
        display: none;
    }
    .subnav-container .active.active a {
        color: initial;
    }
    .subnav-container:hover .subnav,
    .subnav-container > a:hover ~ .subnav,
    .subnav-container > a:focus ~ .subnav,
    .subnav:hover {
        display: block;
    }
    .subnav li {
        float: none;
        border-top: 1px solid #eee;
    }
    .subnav .active.active > a {
        background-color: #f3f4f7;
    }
}
@media (max-width: 56em) {
    .cel:not(.grid) {
        display: block;
    }
    .table.center .cel {
        display: table-cell;
    }
    .content {
        width: auto;
    }
    .space {
        padding-top: 1em;
        padding-right: 0;
        padding-left: 0;
        transition: padding .15s;
    }
    .subscribe h1 {
        font-size: 1.5em;
    }
    img {
        /* Prevent downsized pixelated scale */
        image-rendering: auto;
    }
    .image {
        display: block;
        text-align: center;
    }
    .image:before {
        display: none;
    }
    .items li,
    .box:not(.card) {
        padding: 1.6em;
    }
    .box figure,
    .box .figure {
        max-width: calc(100% + 3.2em);
        min-height: 5em;
        margin-top: -1.6em;
        margin-right: -1.6em;
        margin-left: -1.6em;
    }
    .box .item {
        padding-top: 1.6em;
        border-top: 0;
    }
    .box .item figure.last {
        margin-bottom: -1.6em;
    }
    .box h1 {
        margin-top: 0;
        border-top-width: 0;
    }
    .grid .box .footer {
        right: 1.6em;
        left: 1.6em;
    }
    .card .content {
        min-width: 0;
        padding: 1.6em;
        background-color: #fff;
    }
    .card .content .figure {
        max-width: calc(100% + 3.2em);
        margin-right: -1.6em;
        margin-left: -1.6em;
    }
    .recommendations {
        padding: 1.6em;
        margin-right: -1.6em;
        margin-left: -1.6em;
    }
    .image + .content {
        padding-left: 2em;
    }
    .sheet {
        width: calc(100% + 3.2em);
        margin: 1em -1.6em;
    }
    .row {
        display: block;
        padding: .6em 1.6em;
    }
    .column {
        display: table-row;
    }
    .items li {
        min-width: 16em;
        min-height: 16em;
    }
    .image img {
            width: auto;
        max-width: 100%;
        max-height: 50vh;
    }

    /* Page header/navigation */
    .logo {
        position: relative;
        z-index: -1;
    }
    .nav > .active:after {
        display: none;
    }
    .nav-container {
        direction: ltr;
        overflow: auto;
        overscroll-behavior: contain;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        min-width: 12.4em;
        max-width: 100vw;
            width: 72%;
        padding: 3.5em 0;
        text-align: right;
        transform: translateX(-100%);
        will-change: auto;
    }
    .nav li,
    .subnav.subnav li:first-child {
        direction: rtl;
        float: none;
        border-top: 1px solid #eee;
    }
    .nav li:first-child {
        border-top: 0;
    }
    .nav a {
        padding-right: 2.3em;
    }
    .nav > .active.active > a {
        color: inherit;
    }
    .nav.nav a:hover,
    .nav.nav a:focus,
    .subactive.subactive > a {
        background-color: #f3f4f7;
    }
    .nav > .active:not(.subactive) > a {
        color: #fff;
        background-color: #569e9b;
    }
    .subnav.subnav,
    .subnav-container.subnav-container {
        text-align: right; /* Edge 16 compatibility */
        background-color: initial;
        box-shadow: none;
    }
    .subnav {
        position: static;
        display: block;
    }
    .subnav a {
        padding-right: 3.7em;
    }
    .subnav .active.active > a {
        color: #fff;
        background-color: #569e9b;
    }
    .bar.bar {
        display: inline-block;
        position: absolute;
        left: 0;
        z-index: 3;
        min-width: 0;
            width: auto;
        height: 2.35em;
        padding: .466em;
        font-size: 106%;
        cursor: pointer;
        pointer-events: auto;
    }
    .bar span,
    .bar span:before,
    .bar span:after {
        display: block;
        width: 1.3em;
        height: .211em;
        background-color: #333;
        border-radius: .5em;
        transition: width .1s,
                    background-color 1ms,
                    transform .35s cubic-bezier(.2,1,.4,1);
        will-change: transform;
    }
    .bar span {
        position: relative;
        margin: 1.07em .65em 1.07em .55em;
        transform: translateY(0); /* Firefox 34 Nightly width fix */
        transition-duration: .15s;
    }
    .bar span:before {
        content: "";
        position: absolute;
        right: 0;
        width: 1em;
        transform: translateY(-.42em);
    }
    .bar span:after {
        content: "";
        position: absolute;
        width: .4em;
        transform: translateY(.42em);
    }
    .bar-holder:checked ~ header .wrapper .bar span {
        background-color: transparent;
    }
    .bar-holder:checked ~ header .wrapper .bar span:before {
        width: 1.3em;
        transform: rotate3d(0,0,1,45deg);
    }
    .bar-holder:checked ~ header .wrapper .bar span:after {
        width: 1.3em;
        transform: rotate3d(0,0,1,-45deg);
    }
    .bar-holder:checked ~ header .wrapper .nav-container,
    .bar-holder:checked ~ main .container .nav-container {
        box-shadow: 0 0 4em rgba(51,51,51,.11),
                    0 0 12em rgba(51,51,51,.3);
        transform: none;
        transition: transform .35s cubic-bezier(.2,1,.4,1);
    }
    .bar-holder:checked ~ header .wrapper .bar-close {
        display: block;
        position: fixed;
        z-index: -1;
    }

    @media (hover: none) { /* Is touch device */
        /* Prevent mobile devices to zoom-in screen when focused input field */
        main {
            transition: padding-right .15s,
                        padding-left .15s;
        }
        main:focus-within {
            padding-right: 0;
            padding-left: 0;
        }
        input:focus {
            font-size: 18px;
        }
    }
}
@media (max-width: 35em) {
    .wrapline,
    .box .item figure.flow + p {
        display: inherit;
    }
    .wrapline:after {
        display: none;
    }
    .box figure.flow.flow {
        margin-left: -2.1em;
    }
    main {
        padding-top: 4.3em;
    }
    .sheet ul {
        padding-right: 0;
        padding-left: 0;
    }
    footer {
        margin-top: -4.2em;
    }
    footer .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 .4em;
    }
    footer .wrapper a + a,
    .copyright {
        margin-right: 0;
    }
    footer .wrapper a {
        flex: 1;
    }
    .copyright {
        order: 5;
        flex: 0 0 100%;
        margin: -.2em auto .2em;
    }
}
@media (max-width: 25em) {
    .items li {
        flex: initial;
        min-width: auto;
    }
}
@media (-webkit-min-device-pixel-ratio: 1.2),
       (min-device-pixel-ratio: 1.2),
       (min-resolution: 115dpi) {
    /* Prevent pixeletad images displied on higher DPI */
    img {
        image-rendering: inherit;
        image-rendering: -webkit-optimize-contrast;
    }
}
@media (prefers-reduced-motion) {
    /* Reduce motion https://drafts.csswg.org/mediaqueries-5/#prefers-reduced-motion
       Supported in Safari 10.1 https://webkit.org/blog/7477/new-web-features-in-safari-10-1/ */
    * {
        animation: none;
        transition: none;
    }
}
