<form class="cel space subscribe" id=subscribe name=70a2d0d976>
    <h1>סדרת סטיילינג</h1>
    <dl>
        <dt>
        <dd><label for=email>אימייל</label><input id=email name=EMAIL type=email placeholder=*אימייל data-error="אימייל שגוי" autocomplete=email dir=ltr data-required autofocus>
        <dd><label for=name>שם</label><input id=name name=FNAME placeholder="*שם" data-error="תקליד שם" autocomplete=name dir=auto data-required>
        <dd><label for=tel>נייד (אופציונאלי)</label><input id=tel name=MMERGE3 type=tel placeholder=נייד autocomplete=tel dir=ltr>
        <dd><button formnovalidate>להורדה בחינם</button>
    </dl>
</form>
{% capture inline_js %}{{ inline_js }}{% include ui-form.min.js %}{% include ui-subscribe.min.js %}{% endcapture %}
{% comment %}
<script src=/assets/ui-form.js></script>
<script src=/assets/ui-subscribe.js async></script>
{% endcomment %}
