---
layout: video
redirect_from: /private/digital-workshop
permalink: /private/workshop-digital-offline
private: true
title: סדנה דיגיטלית
script:
    - ui-note.js
comment: true
---

<p id=note class=note hidden>הרשמתך הסתיימה בהצלחה, כל הפרקים כאן. קישור נמצא גם במייל שרשמת ב-PayPal.</p>
<h1>ברוכה הבאה לסדנה הדיגיטלית!</h1>

<h3>מבנה גוף</h3>
{% include youtube.html id="QMHNohViCrA" %}

<h3>צבעים</h3>
{% include youtube.html id="hmHHSjivjhU" %}

<h3>פריטי הבסיס בארון שלך</h3>
{% include youtube.html id="nT_tjIn3gic" %}

<h3>מבנה פנים, הלבשה תחתונה, איפור</h3>
{% include youtube.html id="t3xR5EYJvZY" %}
