@viewport {
    width: device-width;
}
html,
body {
    height: 100%;
}
html,
button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    color: #333;
    font: 62.45% / 1.5 sans-serif;
    text-rendering: optimizeSpeed;
    background-color: #fff;
    touch-action: manipulation;
    cursor: default;
}
body {
    margin: 0;
    font-size: 1.7em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
main {
    display: block;
    min-height: 100%;
    min-height: 100vh;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
header {
    padding: .25em 0 .5em;
    color: #be1100;
    font-size: 174%;
    line-height: 1;
    text-align: center;
    border-bottom: .2em solid currentColor;
}
footer {
    height: 3.7em;
    margin-top: -4.8em;
    padding-top: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    border-top: 1px solid #e1e1e1;
}
img {
    -webkit-user-drag: none;
            user-drag: none;
    -ms-interpolation-mode: nearest-neighbor; /* IE8-IE11 legacy */
    image-rendering: -webkit-optimize-contrast; /* Webkit will drop this property https://bugs.webkit.org/show_bug.cgi?id=97991#c5 */
    image-rendering: -moz-crisp-edges; /* Firefox legacy */
    image-rendering:      crisp-edges; /* Safari legacy */
    image-rendering: pixelated;
}
h1 {
    margin-top: .2em;
    margin-bottom: .2em;
    font-weight: normal;
    font-size: 1.9em;
    line-height: 1.07;
}
h1:first-line {
    font-size: 150%;
}
p {
    margin-top: .8em;
    margin-bottom: .8em;
}
p + p {
    margin-top: 1em;
}
.success {
    color: #3c7d2f;
}
.error {
    color: #be1100;
}
a {
    color: #00d;
    text-decoration: none;
    -webkit-box-decoration-break: clone; /* Chrome legacy, demo http://jsbin.com/xojoro/quiet */
            box-decoration-break: clone;
}
a:hover,
a:focus {
    color: #02a;
    text-decoration: underline;
}
br {
    word-spacing: 0;
}
iframe {
    width: 100%;
    border: 0;
}
iframe,
[unselectable] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.\~size {
    min-width: 15.22em;
    max-width: 53em;
    margin: auto;
}
.\~space {
    padding-right: 4.6em;
    padding-right: 4.9vw;
    padding-left: 4.6em;
    padding-left: 4.9vw;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.\~br {
    white-space: pre-line;
}
.\~br:after {
    content: "\a";
    white-space: pre;
}
.\~center {
    display: -ms-flexbox; /* IE10 legacy */
    -ms-flex-pack: center;
    -ms-flex-align: center;
    height: 100%; /* IE11 legacy */

    display: -webkit-box; /* Safari 5.1 legacy */
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.\~no-footer.container {
    padding-bottom: 0;
}
.center {
    text-align: center;
}
.container {
    padding-top: 3em;
    padding-bottom: 8em;
    box-sizing: border-box;
}
.container.\~center {
    height: 100vh;
    padding-bottom: 11em;
}
.logo {
    height: 102px;
    margin-right: -.8em;
}
.logo + h1 {
    min-width: 9.3em; /* Chrome compatibility */
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 2.5em;
    margin-bottom: 1.5em;
    margin-bottom: 2.4vw;
    clear: both;
}
.video iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #000;
}
.signup {
    overflow: hidden;
    position: relative;
    height: 31em;
    background-color: #f2f2f2;
}
.signup.large {
    height: 45em;
}
.signup:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2em;
    background-image: linear-gradient(rgba(255,255,255,0), #fff);
    pointer-events: none;
}
.signup iframe {
    width: 101%;
    height: 200%;
    margin-top: -7em;
    margin-right: -1px;
}
@media (max-width: 706px) {
    .signup iframe {
        margin-top: -3em;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 58%;
    }
    h1 {
        font-size: 1.5em;
    }
}
