@viewport {
    width: device-width;
}
html,
body {
    height: 100%;
}
html,
img,
label,
iframe,
button,
[unselectable] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    color: #333;
    font: 62.45% / 1.5 sans-serif;
    text-rendering: optimizeSpeed;
    background-color: #fff;
    touch-action: manipulation;
    cursor: default;
}
body,
dd,
dl,
iframe {
    margin: 0;
}
body {
    font-size: 1.7em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
main {
    display: block;
    min-height: 100%;
    min-height: 100vh;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
header {
    padding: .25em 0 .5em;
    color: #be1100;
    font-size: 174%;
    line-height: 1;
    text-align: center;
    border-bottom: .2em solid currentColor;
}
footer {
    height: 3.7em;
    margin-top: -4.8em;
    padding-top: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    border-top: 1px solid #e1e1e1;
}
img {
    -webkit-user-drag: none;
            user-drag: none;
    -ms-interpolation-mode: nearest-neighbor; /* IE8-IE11 legacy */
    image-rendering: -webkit-optimize-contrast; /* Webkit will drop this property https://bugs.webkit.org/show_bug.cgi?id=97991#c5 */
    image-rendering: -moz-crisp-edges; /* Firefox legacy */
    image-rendering:      crisp-edges; /* Safari legacy */
    image-rendering: pixelated;
}
h1,
h2 {
    margin-top: .2em;
    margin-bottom: .2em;
    font-weight: normal;
    line-height: 1.07;
}
h1:first-line,
h2:first-line {
    font-size: 150%;
}
h1 {
    font-size: 1.9em;
}
h2 {
    font-size: 1.24em;
}
p {
    margin-top: .8em;
    margin-bottom: .8em;
}
p + p {
    margin-top: 1em;
}
form {
    margin-top: 1em;
    margin-bottom: 1em;
}
label {
    display: none;
    box-suppress: discard;
    padding-top: .2em;
    padding-bottom: .2em;
    color: #666;
    line-height: 1.2;
}
input,
button {
    width: 20em;
    max-width: 100%;
    padding: .6em .75em;
    margin: .15em 0;
    text-align: right;
    font-size: 1em;
    font-family: inherit;
    line-height: 1.25;
    vertical-align: middle;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-top-color: #ececec;
    border-left-color: #ececec;
    box-sizing: border-box;
    outline: none;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
input:focus,
[required]:valid {
    background-color: transparent;
    border-color: #aaa;
    border-right-color: #888;
    border-bottom-color: #888;
}
input:focus,
[required]:valid:focus {
    border-color: #00d;
}
[type=checkbox],
[type=radio] {
    width: auto;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}
button {
    overflow: hidden;
    width: auto;
    min-width: 9.4em;
    margin-top: .55em;
    margin-bottom: .55em;
    color: #fff;
    text-align: center;
    white-space: nowrap; /* Mobile button text wrapping fix for button */
    word-wrap: normal; /* "nowrap" compatibility for IE9 */
    text-overflow: ellipsis;
    text-shadow: -1px -1px 1px #24659c;
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: .15em;
    background-image: radial-gradient(farthest-corner at -11% 128%, #2944b1, transparent);
    box-shadow: none;
    outline: 0;
    cursor: pointer;
}
button:active {
    background-color: #367fbd;
    border-color: #367fbd;
}
.success {
    color: #3c7d2f;
}
.error {
    color: #be1100;
}
.error.error input {
    border-color: #be1100;
}
a {
    color: #00d;
    text-decoration: none;
    -webkit-box-decoration-break: clone; /* Chrome legacy, demo http://jsbin.com/xojoro/quiet */
            box-decoration-break: clone;
}
a:hover,
a:focus {
    color: #02a;
    text-decoration: underline;
}
br {
    word-spacing: 0;
}
iframe {
    width: 100%;
}
.\~size {
    min-width: 15.22em;
    max-width: 53em;
    margin: auto;
}
.\~space {
    padding-right: 4.6em;
    padding-right: 4.9vw;
    padding-left: 4.6em;
    padding-left: 4.9vw;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.\~br {
    white-space: pre-line;
}
.\~br:after {
    content: "\a";
    white-space: pre;
}
.\~nowrap {
    white-space: nowrap;
}
.\~invisible {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    pointer-events: none;
}
.\~center {
    display: -ms-flexbox; /* IE10 legacy */
    -ms-flex-pack: center;
    -ms-flex-align: center;
    height: 100%; /* IE11 legacy */

    display: -webkit-box; /* Safari 5.1 legacy */
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.\~flow {
    float: left;
}
.\~small {
    font-size: small;
}
.\~no-footer.container {
    padding-bottom: 0;
}
.center {
    text-align: center;
}
.container {
    padding-top: 3em;
    padding-bottom: 8em;
    box-sizing: border-box;
}
.container.\~center {
    height: 100vh;
    padding-bottom: 11em;
}
.logo {
    height: 102px;
    margin-right: -.8em;
}
.logo + h1 {
    min-width: 9.3em; /* Chrome compatibility */
}
.box {
    padding-bottom: 5em;
    margin-bottom: 2em;
    text-shadow: 1px 1px 1px #fff;
    background-repeat: no-repeat;
    background-position: left bottom;
    border-bottom: 1px solid #ddd;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 2.5em;
    margin-bottom: 1.5em;
    margin-bottom: 2.4vw;
    clear: both;
}
.video iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #000;
}
.signup {
    overflow: hidden;
    position: relative;
    height: 31em;
    background-color: #f2f2f2;
}
.signup.large {
    height: 45em;
}
.signup:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2em;
    background-image: linear-gradient(rgba(255,255,255,0), #fff);
    pointer-events: none;
}
.signup iframe {
    width: 101%;
    height: 200%;
    margin-top: -7em;
    margin-right: -1px;
}
@media (max-width: 706px) {
    .signup iframe {
        margin-top: -3em;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 58%;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: .96em;
    }
}

@media (min-width:0\0) and (min-resolution: .001dpcm) { /* IE9 */
    label {
        display: table-cell;
    }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ */
    a {
        /* Remove IE10 :active gray background-color */
        background-color: transparent;
    }
    ::-ms-clear {
        /* Remove input x */
        display: none;
        box-suppress: discard;
    }
    :-ms-input-placeholder {
        color: inherit;
    }
    .error :-ms-input-placeholder {
        color: #be1100;
    }
}
@supports (-ms-accelerator: true) { /* Edge */
    ::-ms-clear {
        /* Remove input x */
        display: none;
        box-suppress: discard;
    }
    ::-webkit-input-placeholder {
        color: #333;
    }
    .error ::-webkit-input-placeholder {
        color: #be1100;
    }
    [placeholder]:focus::-webkit-input-placeholder {
        opacity: .54;
    }
}
@media (-webkit-min-device-pixel-ratio: 0) {
    @supports (not (-ms-accelerator: true)) { /* Webkit */
        html {
            /* iOS 7 legacy http://barrow.io/overflow-scrolling */
            -webkit-overflow-scrolling: touch;
        }
        html {
            /* Old Webkit smooth text rendering issue */
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%; /* iOS fix */
        }
        a,
        input,
        button {
            /* Remove outline and highlight-color from click-able elements on Android and iOS */
            -webkit-tap-highlight-color: rgba(51,51,51,0);
        }
        a {
            /* iOS remove bubble dialog on tap-holding */
            -webkit-touch-callout: none;
        }
        input {
            -webkit-hyphens: none; /* Safari 9.1 wraps text to multiple lines */
        }
        ::-webkit-input-placeholder {
            color: #333;
            text-overflow: ellipsis!important; /* Chrome 49 input:focus and Safari 9.1.1 input applies inline "text-overflow: clip" */
            white-space: nowrap; /* Safari 9.1 wraps text with "-" */
            -webkit-user-select: none;
                    user-select: none;
        }
        .error ::-webkit-input-placeholder {
            color: #be1100;
        }
        :-webkit-autofill {
            box-shadow: 1px 1px 0 rgba(0,0,0,.2), inset 0 0 0 2em #fff;
        }
        [placeholder]:focus::-webkit-input-placeholder {
            opacity: .54;
        }
        .error ::-webkit-input-placeholder  {
            color: #be1100;
        }
    }
}
@-moz-document url-prefix() { /* Firefox */
    label:active {
        background-color: transparent;
    }
    input,
    button {
        background-image: none;
        border-radius: 0;
    }
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    ::-moz-placeholder {
        color: #333;
    }
    .error ::-moz-placeholder {
        color: #be1100;
    }
    [placeholder]:not(:focus)::-moz-placeholder {
        opacity: 1;
    }
}
