---
layout: compress
className: stretch
style:
    - style.css
    - academy.css
script:
    - ui.js
    - ui-form.js
    - ui-comment.js
    - ui-academy.js
---

{% include core-head.html %}<input class=bar-holder id=bar type=checkbox hidden>
<header dir=ltr>
    <div class=wrapper>
        <label class=bar for=bar hidden><span></span></label>
        <a class=logo href=/academy><img src={{ site.assets }}logo-academy.png width=138 height=47 alt="סטיילינג בקלות לדתיות — לאה לאוקשטיין"></a>
        <ul class=nav role=navigation dir=rtl>
            <li><a id=details href=/diy hidden>פרטים</a></li>
            <li><a href=/contact#diy>צור קשר</a></li>
            <li><span id=account></span></li>
        </ul>
    </div>
</header>
<main dir=rtl>
<div class="table scale center" id=loading>
    <div class=cel>
        <b class=spin>טעינה...</b>
    </div>
</div>
<div class="table scale" id=content hidden>
    <div class="cel content"></div>
    <form class="cel space subscribe" id=form onsubmit=ui.academy.login(event) method=post>
        <dl>
            <dt><h1>קורס דיגיטאלי סטייל שבא מבפנים</h1>
            <dd><label for=email>אימייל</label><input id=email name=email type=email placeholder=אימייל autocomplete=email dir=ltr required autofocus>
            <dd><label for=pass>סיסמה</label><input id=pass name=password type=password placeholder=סיסמה minlength=5 dir=ltr required>
            <dd><button id=button>כניסה לפורטל</button>
            <dd><a id=link onclick=ui.academy.forgot()>שכחת סיסמא?</a>
        </dl>
    </form>
    <div class=bg></div>
</main>
<svg xmlns="http://www.w3.org/2000/svg" display="none">
    <symbol id="close" viewbox="0 0 512 512">
        <path d="M132.2 353l96.8-97-97-97 28-27 96 96 97-97 28 27-98 98 96.8 97-26.8 27-97-97-97 97-26.8-27z"/>
    </symbol>
    <symbol id="check" viewbox="0 0 512 512">
        <path d="M386 78l94 86-272 270L30 256l89-89 89 89L386 78z"/>
    </symbol>
</svg>
{% include core-footer.html %}{%
include core-js.html %}
