---
layout: compress
className: stretch
style:
    - style.css
    - academy.css
script:
    - ui.js
    - ui-form.js
    - ui-comment.js
    - ui-academy.js
---

{% include core-head.html %}<input class=bar-holder id=bar type=checkbox hidden>
<header dir=ltr>
    <div class=wrapper>
        <label class=bar for=bar hidden><span></span></label>
        <a class=logo href=/academy><img src={{ site.assets }}logo-academy.png width=191 height=47 alt="סטיילינג בקלות לדתיות — לאה לאוקשטיין"></a>
        <nav dir=rtl>
            <a id=details href=/5min hidden>פרטים</a><a href=/contact#5min>צור קשר</a><span id=account></span>
        </nav>
    </div>
</header>
<main dir=rtl>
<div class="table scale center" id=loading>
    <div class=cel>
        <b class=spin>טעינה...</b>
    </div>
</div>
<div class="table scale" id=content hidden>
    <div class="cel content"></div>
    <form class="cel space subscribe" id=form method=POST data-onsubmit="return false" onsubmit=ui.academy.login(event)>
        <dl>
            <dt><h1>הנוסחא לסטיילינג ב5 דקות לאישה הדתית</h1>
            <dd><label for=email>אימייל</label><input id=email name=email type=email placeholder=אימייל autocomplete=email dir=ltr required autofocus>
            <dd><label for=pass>סיסמה</label><input id=pass name=password type=password placeholder=סיסמה minlength=5 dir=ltr required>
            <dd><button id=button>כניסה לפורטל</button>
            <dd><a id=link onclick=ui.academy.forgot()>שכחת סיסמא?</a>
        </dl>
    </form>
    <div class=bg></div>
</main>
{% include core-footer.html %}{%
include core-js.html %}
