---
layout: default
type: medium
className: no-padding
comment: true
---

<article class=box>
    {% if page.image %}<figure{% if page.imageClass %} class="{{ page.imageClass }}"{% endif %}>
        <img src={{ site.assets }}{{ page.image }} alt="{{ page.title }}">
        {% if page.imageLabel %}<figcaption>{{ page.imageLabel }}</figcaption>{% endif %}
    </figure>{% endif %}
    <h1 class=wrapline>{{ page.title }}</h1>
    {{ content }}
    <div>{% include date.html value=page.date %}</div>
</article>
