---
layout: default
category: blog
type: medium
className: no-padding
comment: true
---

{% capture image %}{%
    include get-image.html
    url = page.url
    date = page.date %}{%
endcapture %}{%
assign image = image | strip_newlines
%}<article class=box>
    {%
        include image.html
        title = page.title
        image = image
        width = page.image.width
        className = page.image.class
        label = page.image.label
        pageURL = page.url
        pageDate = page.date
    %}
    <h1 class=wrapline>{{ page.title }}</h1>
    {{ content }}{%
    if page.button.url and page.button.title %}
    <div class=sticky-footer>
        <a class=button href={{ page.button.url }} tabindex=0>{{ page.button.title }}</a>
    </div>{%
    endif %}{%
    if page.date %}<div>{% include date.html value = page.date %}</div>{% endif %}{%
    if page.imageList %}{%
        for item in page.imageList %}
    <div class=item>{%
        include image.html
        title = item.label
        image = item.image
        className = item.className
        width = item.width
        label = item.label
        text = item.text
    %}</div>{%
        endfor %}{%
    endif %}
</article>
