---
layout: default
customLayout: true
category: products
css: |
    main {
        display: table;
        table-layout: fixed;
    }
    .table {
        display: table-cell;
        vertical-align: middle;
    }
    .table.scale {
        vertical-align: top;
    }
    .space {
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .grid {
        max-width: 60em;
    }
    .grid .header {
        margin-bottom: 1em;
    }
    .grid .header h1 {
        color: #666;
    }
    .grid .box.card {
        overflow: hidden;
        display: inline-block;
        width: 100%;
        min-width: 17em;
        min-height: inherit;
        padding-bottom: 0;
        margin: 0;
    }
    .grid .content {
        display: flex;
        flex-direction: column;
        min-width: inherit;
        height: 100%;
        padding: 1.5em 2em;
    }
    .grid .more,
    .grid .button,
    .product-notice a {
        position: relative;
        z-index: 1;
    }
    .grid .more:hover {
        text-decoration: underline;
    }
    .grid .button {
        margin-left: .6em;
    }
    .grid .label {
        padding-left: 0;
    }
    .grid .footer:before {
        content: "≡";
        margin-left: .3em;
        color: #02a;
        font-weight: bold;
        vertical-align: middle;
        text-decoration: none;
    }
    .grid .footer a {
        color: #02a;
    }
    .product-notice {
        margin-bottom: -1em;
    }
    .product-notice:hover ~ a.absolute {
        outline-color: #1e90ff;
        outline-style: solid;
    }
    @media (max-width: 56em) {
        .space {
            padding-top: 1em;
        }
    }
    @media (max-width: 54em) {
        .card .content {
            padding-right: 1.6em;
            padding-left: 1.6em;
        }
    }
---

{%
assign footer-url = page.url %}{%
assign footer-title = page.title %}{%
assign pages = site.pages | sort: "order" %}
<div class="span header row">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
</div>{%
for item in pages %}{%
    if item.order and item.subnav != "products" and item.group == page.group %}{%
        include product.html data = item %}{%
    endif %}{%
endfor %}<div class="span footer row"><a href={{ footer-url }}-compare>השוואת {{ footer-title }}</a></div>{{ content }}
