---
layout: default
category: products
type: medium
className: no-padding
comment: true
l10n:
    - name: duration
      title: אורך
    - name: price
      title: עלות
    - name: location
      title: מיקום
    - name: fit
      title: מתאים ל
    - name: participantCount
      title: מס' משתתפות
    - name: details
      title: תיאור התהליך
    - name: goals
      title: מטרות
    - name: takeWith
      title: את יוצאת עם
    - name: buttonType
      title: כפתור
---

<div class="box card" dir=ltr>
    {% include youtube.html id=page.video %}
    {%
        include image.html
        title=page.title
        image=page.image
        imageClass=page.imageClass
        imageWidth=page.imageWidth
        imageHeight=page.imageHeight
        imageLabel=page.imageLabel
    %}
    <div class=content dir=rtl>
        {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
        <ul class=sheet>{%
            for item in layout.l10n %}
                {% if item.name != "title" and item.name != "buttonType" and item.title and page[item.name]
                %}<li class=row>
                    <div class="column label">{{ item.title }}</div>
                    <div class=column>{%
                        if page[item.name] contains "
" %}{{ page[item.name] | markdownify }}{%
                        else %}{{ page[item.name] }}{% endif %}{%
                        if item.name == "price" %} ש"ח{%
                            if page.discount %} ({{ page.discount }}){% endif %}{%
                        endif %}</div>
                </li>{%
                endif %}
            {% endfor %}
        </ul>{%
        if page.button %}{% for item in page.button %}
            <a class=button href={{ item.url }} tabindex=0>{{ item.title }}</a>
        {% endfor %}{% else
        %}<a class=button href=/contact#{{ page.url | remove: "/" }} tabindex=0>צרי קשר להזמנה</a>{%
        endif %}
    </div>
</div>
{{ content }}
